# Advanced Tutorial on metasyn

In this tutorial, we will be creating a `MetaFrame`, which is a metadata representation of a given dataset, and proceed by generating synthetic data from it. In the process, we are going to walk through some of the advanced abilities of metasyn, such as handling dates, setting distributions and ensuring uniqueness in columns. This example workflow starts from a `.csv` file as input, but it easily adapted to other formats.

## Step 0: Install the metasyn package and import required packages

In [3]:
# uncomment the following line and run the cell to install metasyn
# %pip install metasyn

In [4]:
# import required packages
import datetime as dt
import polars as pl
from metasyn import MetaFrame, demo_file

## Step 1: Transforming your data into a polars DataFrame

The first step in creating the MetaFrame is reading and converting your dataset to a polars DataFrame.

In [5]:
# get the path of the demo csv
demo_file_path = demo_file()

# read the data with the correct categorical variables
data_types={
    "Sex": pl.Categorical,
    "Embarked": pl.Categorical
}

df = pl.read_csv(demo_file_path, try_parse_dates=True, dtypes=data_types)

# check out the data
df.head()

shape: (5, 13)
┌─────────────┬───────────────┬────────┬─────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name          ┆ Sex    ┆ Age ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---           ┆ ---    ┆ --- ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str           ┆ cat    ┆ i64 ┆   ┆ date       ┆ time       ┆ ---          ┆ str    │
│             ┆               ┆        ┆     ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪═══════════════╪════════╪═════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Braund, Mr.   ┆ male   ┆ 22  ┆ … ┆ 1937-10-28 ┆ 15:53:04   ┆ 2022-08-05   ┆ null   │
│             ┆ Owen Harris   ┆        ┆     ┆   ┆            ┆            ┆ 04:43:34     ┆        │
│ 2           ┆ Cumings, Mrs. ┆ female ┆ 38  ┆ … ┆ null       ┆ 12:26:00   ┆ 2022-08-07   ┆ null   │
│             ┆ John Bradley  ┆        ┆     ┆   ┆            ┆            ┆ 01:56:33     ┆        │
│             ┆ (Flor…        ┆        ┆     ┆   ┆            ┆            ┆              ┆        │
│ 3           ┆ Heikkinen,    ┆ female ┆ 26  ┆ … ┆ 1931-09-24 ┆ 16:08:25   ┆ 2022-08-04   ┆ null   │
│             ┆ Miss. Laina   ┆        ┆     ┆   ┆            ┆            ┆ 20:27:37     ┆        │
│ 4           ┆ Futrelle,     ┆ female ┆ 35  ┆ … ┆ 1936-11-30 ┆ null       ┆ 2022-08-07   ┆ null   │
│             ┆ Mrs. Jacques  ┆        ┆     ┆   ┆            ┆            ┆ 07:05:55     ┆        │
│             ┆ Heath (Li…    ┆        ┆     ┆   ┆            ┆            ┆              ┆        │
│ 5           ┆ Allen, Mr.    ┆ male   ┆ 35  ┆ … ┆ 1918-11-07 ┆ 10:59:08   ┆ 2022-08-02   ┆ null   │
│             ┆ William Henry ┆        ┆     ┆   ┆            ┆            ┆ 15:13:34     ┆        │
└─────────────┴───────────────┴────────┴─────┴───┴────────────┴────────────┴──────────────┴────────┘

Now, let's check the data types of our DataFrame:

In [6]:
dict(zip(df.columns, df.dtypes))

{'PassengerId': Int64,
 'Name': Utf8,
 'Sex': Categorical,
 'Age': Int64,
 'Parch': Int64,
 'Ticket': Utf8,
 'Fare': Float64,
 'Cabin': Utf8,
 'Embarked': Categorical,
 'Birthday': Date,
 'Board time': Time,
 'Married since': Datetime(time_unit='us', time_zone=None),
 'all_NA': Utf8}

We see that most variables are now nicely specified as strings, categories, dates and ints where necessary. We can also inspect the data a bit more with `describe()`.

In [7]:
df.describe()

shape: (9, 14)
┌────────────┬───────────┬──────────────┬──────┬───┬────────────┬────────────┬────────────┬────────┐
│ describe   ┆ Passenger ┆ Name         ┆ Sex  ┆ … ┆ Birthday   ┆ Board time ┆ Married    ┆ all_NA │
│ ---        ┆ Id        ┆ ---          ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since      ┆ ---    │
│ str        ┆ ---       ┆ str          ┆ str  ┆   ┆ str        ┆ str        ┆ ---        ┆ str    │
│            ┆ f64       ┆              ┆      ┆   ┆            ┆            ┆ str        ┆        │
╞════════════╪═══════════╪══════════════╪══════╪═══╪════════════╪════════════╪════════════╪════════╡
│ count      ┆ 891.0     ┆ 891          ┆ 891  ┆ … ┆ 891        ┆ 891        ┆ 891        ┆ 891    │
│ null_count ┆ 0.0       ┆ 0            ┆ 0    ┆ … ┆ 78         ┆ 79         ┆ 92         ┆ 891    │
│ mean       ┆ 446.0     ┆ null         ┆ null ┆ … ┆ null       ┆ null       ┆ null       ┆ null   │
│ std        ┆ 257.35384 ┆ null         ┆ null ┆ … ┆ null       ┆ null       ┆ null       ┆ null   │
│            ┆ 2         ┆              ┆      ┆   ┆            ┆            ┆            ┆        │
│ min        ┆ 1.0       ┆ Abbing, Mr.  ┆ null ┆ … ┆ 1903-07-28 ┆ 10:39:40   ┆ 2022-07-15 ┆ null   │
│            ┆           ┆ Anthony      ┆      ┆   ┆            ┆            ┆ 12:21:15   ┆        │
│ max        ┆ 891.0     ┆ van          ┆ null ┆ … ┆ 1940-05-27 ┆ 18:39:28   ┆ 2022-08-15 ┆ null   │
│            ┆           ┆ Melkebeke,   ┆      ┆   ┆            ┆            ┆ 10:32:05   ┆        │
│            ┆           ┆ Mr. Philemon ┆      ┆   ┆            ┆            ┆            ┆        │
│ median     ┆ 446.0     ┆ null         ┆ null ┆ … ┆ null       ┆ null       ┆ null       ┆ null   │
│ 25%        ┆ 223.0     ┆ null         ┆ null ┆ … ┆ null       ┆ null       ┆ null       ┆ null   │
│ 75%        ┆ 669.0     ┆ null         ┆ null ┆ … ┆ null       ┆ null       ┆ null       ┆ null   │
└────────────┴───────────┴──────────────┴──────┴───┴────────────┴────────────┴────────────┴────────┘

## Step 2: Creating a MetaFrame object from a DataFrame

Now a lot of work has already gone into creating a properly formatted DataFrame. This work pays off at this stage: let's convert the DataFrame to a MetaFrame structure with the default options. Note: this takes a little bit of time!

In [8]:
mf = MetaFrame.fit_dataframe(df)

/Users/samuel/Desktop/Creating/Python Projects/MetaSynthDev/github_repo/metasyn/provider.py:226: UserWarning:
Variable PassengerId seems unique, but not set to be unique.
Set the variable to be either unique or not unique to remove this warning.

  warnings.warn(f"\nVariable {series.name} seems unique, but not set to be unique.\n"

Then, we can simply print the MetaFrame to display it in an easy-to-read format:

In [9]:
print(mf)

# Rows: 891
# Columns: 13

Column 1: "PassengerId"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.discrete_uniform
	- Provenance: builtin
	- Parameters:
		- low: 1
		- high: 892


Column 2: "Name"
- Variable Type: string
- Data Type: Utf8
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.regex
	- Provenance: builtin
	- Parameters:
		- regex: [A-Z][a-z]{2,9}[,][ ][M]((|[a][s][t][e])[r][\.][ ][A-Z][a-z]{3,7}(|[ ][A-Z][a-z]{3,7})|[i][s]{2,2}[\.][ ][A-Z][a-z]{3,8}(|[ ][A-Z][a-z]{4,7}))


Column 3: "Sex"
- Variable Type: categorical
- Data Type: Categorical
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: ['female' 'male']
		- probs: [0.35241302 0.64758698]


Column 4: "Age"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.1987
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
	 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
	 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 70 71 74 80]
		- probs: [0.00140056 0.01820728 0.0140056  0.00840336 0.0140056  0.00560224
	 0.00420168 0.00420168 0.00560224 0.01120448 0.00280112 0.00560224
	 0.00140056 0.00280112 0.00980392 0.0070028  0.02380952 0.01820728
	 0.03641457 0.03501401 0.02240896 0.03361345 0.03781513 0.0210084
	 0.04481793 0.03221289 0.02521008 0.02521008 0.03781513 0.0280112
	 0.03781513 0.02380952 0.0280112  0.0210084  0.02240896 0.02521008
	 0.03221289 0.00840336 0.01540616 0.01960784 0.0210084  0.00840336
	 0.01820728 0.0070028  0.01260504 0.01680672 0.0070028  0.01260504
	 0.01260504 0.00840336 0.0140056  0.00980392 0.00840336 0.00140056
	 0.01120448 0.00280112 0.0070028  0.00280112 0.0070028  0.00280112
	 0.00560224 0.00420168 0.00560224 0.00280112 0.00280112 0.00420168
	 0.00140056 0.00420168 0.00280112 0.00140056 0.00140056]


Column 5: "Parch"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: [0 1 2 3 4 5 6]
		- probs: [0.76094276 0.13243547 0.08978676 0.00561167 0.00448934 0.00561167
	 0.00112233]


Column 6: "Ticket"
- Variable Type: string
- Data Type: Utf8
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.regex
	- Provenance: builtin
	- Parameters:
		- regex: (|([P][C][ ]|[CA-Z]{1,4}[\.][A][\.][ ]))[0-9]{4,6}


Column 7: "Fare"
- Variable Type: continuous
- Data Type: Float64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.exponential
	- Provenance: builtin
	- Parameters:
		- rate: 0.03052908440177665


Column 8: "Cabin"
- Variable Type: string
- Data Type: Utf8
- Proportion of Missing Values: 0.7710
- Distribution:
	- Type: core.regex
	- Provenance: builtin
	- Parameters:
		- regex: [A-Z](|[0-9 ]{1,2}(|(|[ ](|[C][2][5][ ]))[0-9A-Z]{1,3}))


Column 9: "Embarked"
- Variable Type: categorical
- Data Type: Categorical
- Proportion of Missing Values: 0.0022
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: ['C' 'Q' 'S']
		- probs: [0.18897638 0.08661417 0.72440945]


Column 10: "Birthday"
- Variable Type: date
- Data Type: Date
- Proportion of Missing Values: 0.0875
- Distribution:
	- Type: core.uniform_date
	- Provenance: builtin
	- Parameters:
		- start: 1903-07-28
		- end: 1940-05-27


Column 11: "Board time"
- Variable Type: time
- Data Type: Time
- Proportion of Missing Values: 0.0887
- Distribution:
	- Type: core.uniform_time
	- Provenance: builtin
	- Parameters:
		- start: 10:39:40
		- end: 18:39:28
		- precision: seconds


Column 12: "Married since"
- Variable Type: datetime
- Data Type: Datetime(time_unit='us', time_zone=None)
- Proportion of Missing Values: 0.1033
- Distribution:
	- Type: core.uniform_datetime
	- Provenance: builtin
	- Parameters:
		- start: 2022-07-15T12:21:15
		- end: 2022-08-15T10:32:05
		- precision: seconds


Column 13: "all_NA"
- Variable Type: string
- Data Type: Utf8
- Proportion of Missing Values: 1.0000
- Distribution:
	- Type: core.na
	- Provenance: builtin
	- Parameters:

## Step 3: Exporting the MetaFrame

After creating the MetaFrame, Metasyn can serialize and export it into a GMF file. 


> **GMF files:**
> GMF files are JSON files that follow the [Generative Metadata Format (GMF)](https://github.com/sodascience/generative_metadata_format), a format designed to contain statistical metadata for (tabular) datasets that has been designed to be easy to read and understand. This allows users to audit, understand, modify and share their data generation model with ease.

In [11]:
# save the metadata to a file
file_path = "example_gmf_titanic.json"
mf.export(file_path)

# you can now open and read the json file!

Alternatively, we can preview how the exported file would look, without saving it to disk as follows:

In [ ]:
gmf_preview = repr(mf)
print(gmf_preview)

## Step 4: Generating synthetic data from the metadata

A previously exported MetaFrame (.json) file can be loaded into a MetaFrame object.

In [12]:
#load previously exported MetaFrame (.json) file
mf = MetaFrame.from_json(file_path)

Once a MetaFrame is loaded, synthetic data can be generated from it. The `synthesize` method takes the number of rows to be generated as parameter and returns a DataFrame with the synthetic data.

In [13]:
# generate synthetic data
mf.synthesize(5)

shape: (5, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ f32    │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 44          ┆ Agptbme,     ┆ male   ┆ 17   ┆ … ┆ null       ┆ 18:11:28   ┆ 2022-08-11   ┆ null   │
│             ┆ Miss. Nqduqf ┆        ┆      ┆   ┆            ┆            ┆ 02:03:31     ┆        │
│ 655         ┆ Atzljlwzp,   ┆ female ┆ null ┆ … ┆ 1914-06-10 ┆ 16:58:14   ┆ 2022-08-02   ┆ null   │
│             ┆ Master. Pwnn ┆        ┆      ┆   ┆            ┆            ┆ 08:13:51     ┆        │
│             ┆ Eizrcyoi     ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 111         ┆ Sir, Mr.     ┆ male   ┆ 26   ┆ … ┆ 1936-06-18 ┆ 17:40:49   ┆ 2022-08-10   ┆ null   │
│             ┆ Xzzqezs Yszn ┆        ┆      ┆   ┆            ┆            ┆ 14:20:01     ┆        │
│ 523         ┆ Ftmq, Mr.    ┆ male   ┆ 34   ┆ … ┆ null       ┆ 18:25:02   ┆ 2022-07-22   ┆ null   │
│             ┆ Wjltxew      ┆        ┆      ┆   ┆            ┆            ┆ 19:37:23     ┆        │
│             ┆ Ywnwo        ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 426         ┆ Ewxlihlpq,   ┆ male   ┆ 24   ┆ … ┆ 1936-11-12 ┆ 11:29:18   ┆ 2022-07-19   ┆ null   │
│             ┆ Mr. Jjvg     ┆        ┆      ┆   ┆            ┆            ┆ 18:40:49     ┆        │
│             ┆ Pkdyg        ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

As you can see, the fake data looks a lot like the real data! However, it could still use some improvement. In the next sections, we will explore manual changes we can make to improve the quality of the synthetic data.

## Step 5: Improving the quality of the synthetic data

### Set unique columns

One column (PassengerId) has been detected as possibly unique by metasyn, as indicated by the following warning:

> "Variable PassengerId seems unique, but not set to be unique."

This column holds a variable with unique passenger identifiers, so in fact we do want synthetic data generated for this column to be unique as well. We can add this to the metadata by creating a list of options which we call a `specification`, or `spec`:

In [14]:
# First, we create a specification dictionary for the variables
var_spec = {
    "PassengerId": {"unique": True}
}

# then, we add that dictionary as the `spec` argument
mf = MetaFrame.fit_dataframe(df, spec=var_spec)

# then, let's check what the metadata about PassengerId contains!
mf["PassengerId"].to_dict()

{'name': 'PassengerId',
 'type': 'discrete',
 'dtype': 'Int64',
 'prop_missing': 0.0,
 'distribution': {'implements': 'core.unique_key',
  'version': '1.0',
  'provenance': 'builtin',
  'class_name': 'UniqueKeyDistribution',
  'parameters': {'low': 1, 'consecutive': 1}}}

So let's check what is generated from this new MetaFrame:

In [15]:
mf.synthesize(5)

shape: (5, 13)
┌─────────────┬────────────────┬──────┬─────┬───┬────────────┬────────────┬───────────────┬────────┐
│ PassengerId ┆ Name           ┆ Sex  ┆ Age ┆ … ┆ Birthday   ┆ Board time ┆ Married since ┆ all_NA │
│ ---         ┆ ---            ┆ ---  ┆ --- ┆   ┆ ---        ┆ ---        ┆ ---           ┆ ---    │
│ i64         ┆ str            ┆ cat  ┆ i64 ┆   ┆ date       ┆ time       ┆ datetime[μs]  ┆ f32    │
╞═════════════╪════════════════╪══════╪═════╪═══╪════════════╪════════════╪═══════════════╪════════╡
│ 1           ┆ Yefogmjpea,    ┆ male ┆ 17  ┆ … ┆ 1924-05-13 ┆ 13:56:50   ┆ 2022-07-26    ┆ null   │
│             ┆ Miss. Svgei    ┆      ┆     ┆   ┆            ┆            ┆ 08:22:00      ┆        │
│ 2           ┆ Pxfibl, Mr.    ┆ male ┆ 25  ┆ … ┆ 1927-04-15 ┆ null       ┆ 2022-07-25    ┆ null   │
│             ┆ Ifxf           ┆      ┆     ┆   ┆            ┆            ┆ 18:00:04      ┆        │
│ 3           ┆ Zkpidj, Mr.    ┆ male ┆ 70  ┆ … ┆ 1911-02-03 ┆ 11:40:45   ┆ 2022-07-25    ┆ null   │
│             ┆ Gnqnubzv       ┆      ┆     ┆   ┆            ┆            ┆ 18:05:10      ┆        │
│ 4           ┆ Qmmcsyf, Miss. ┆ male ┆ 38  ┆ … ┆ 1921-12-22 ┆ null       ┆ 2022-07-22    ┆ null   │
│             ┆ Sepbupjw Mmibo ┆      ┆     ┆   ┆            ┆            ┆ 18:25:04      ┆        │
│ 5           ┆ Sdg, Miss.     ┆ male ┆ 26  ┆ … ┆ 1932-11-17 ┆ 12:32:26   ┆ 2022-08-02    ┆ null   │
│             ┆ Fiwiwqqi       ┆      ┆     ┆   ┆            ┆            ┆ 02:25:18      ┆        │
└─────────────┴────────────────┴──────┴─────┴───┴────────────┴────────────┴───────────────┴────────┘

Now we that the `PassengerId` column is correctly represented with increasing id numbers.

### Fake names (and others)

As one can see, the `Name` of the passengers is not quite so well synthesized. The reason is that the string type interpreter in metasyn is designed for `structured` strings (like room numbers such as `B1.09`, `B1.01` or `A1.08`) and not unstructured strings. However, metasyn supports the [faker](https://faker.readthedocs.io/en/master/index.html) package, which includes a lot of data types that it can fake. The columns using faker are not based on the real data at all so they do not disclose any info about the real data.

We fake names as follows:

In [16]:
# First, we create a specification dictionary for the variables
from metasyn.distribution import FakerDistribution

var_spec = {
    "PassengerId": {"unique": True}, 
    "Name": {"distribution": FakerDistribution("name")}
}

mf = MetaFrame.fit_dataframe(df, spec=var_spec)
mf.synthesize(5)

shape: (5, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ f32    │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Jessica      ┆ female ┆ 29   ┆ … ┆ 1931-03-25 ┆ 14:20:23   ┆ 2022-07-25   ┆ null   │
│             ┆ Rodriguez    ┆        ┆      ┆   ┆            ┆            ┆ 09:18:33     ┆        │
│ 2           ┆ Ryan Hunt    ┆ male   ┆ 30   ┆ … ┆ 1915-09-07 ┆ null       ┆ 2022-07-26   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 10:32:42     ┆        │
│ 3           ┆ Lauren Webb  ┆ female ┆ null ┆ … ┆ 1922-11-20 ┆ 14:00:11   ┆ 2022-08-12   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 07:52:11     ┆        │
│ 4           ┆ Derek        ┆ male   ┆ 7    ┆ … ┆ 1921-07-19 ┆ null       ┆ 2022-07-27   ┆ null   │
│             ┆ Carpenter    ┆        ┆      ┆   ┆            ┆            ┆ 06:21:23     ┆        │
│ 5           ┆ David Payne  ┆ male   ┆ null ┆ … ┆ 1924-08-09 ┆ 10:43:13   ┆ 2022-07-17   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 02:25:01     ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

That already looks a lot better for the `Name` column!

### Set distributions manually

Without user input, the distribution chosen for each variable is inferred by choosing the best fitting from available distributions for the variable type. However, we can also manually specify which distribution to fit, or we can even just fully specify how the variable should be generated.

In [17]:
from metasyn.distribution import DiscreteUniformDistribution

var_spec = {
    "PassengerId": {"unique": True}, 
    "Name": {"distribution": FakerDistribution("name")},
    "Fare": {"distribution": "LogNormalDistribution"}, # estimate / fit an exponential distribution based on the data
    "Age": {"distribution": DiscreteUniformDistribution(20, 40)} # fully specify a distribution for age (uniform between 20 and 40)
}

mf = MetaFrame.fit_dataframe(df, spec=var_spec)
mf.synthesize(5)

shape: (5, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ f32    │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Jessica      ┆ female ┆ 28   ┆ … ┆ 1939-10-08 ┆ 17:46:39   ┆ 2022-08-13   ┆ null   │
│             ┆ Rodriguez    ┆        ┆      ┆   ┆            ┆            ┆ 14:47:30     ┆        │
│ 2           ┆ Ryan Hunt    ┆ female ┆ 36   ┆ … ┆ 1928-08-19 ┆ 11:04:56   ┆ 2022-07-23   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 13:12:24     ┆        │
│ 3           ┆ Lauren Webb  ┆ male   ┆ null ┆ … ┆ 1915-09-12 ┆ 14:08:43   ┆ 2022-07-23   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 04:50:25     ┆        │
│ 4           ┆ Derek        ┆ female ┆ 36   ┆ … ┆ 1933-04-06 ┆ 18:12:14   ┆ 2022-08-05   ┆ null   │
│             ┆ Carpenter    ┆        ┆      ┆   ┆            ┆            ┆ 08:44:36     ┆        │
│ 5           ┆ David Payne  ┆ male   ┆ 29   ┆ … ┆ 1925-05-09 ┆ 12:33:11   ┆ 2022-08-04   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 17:45:26     ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

### Specifying the distribution of structured strings

For more or less structured strings, we can manually set the structure of the strings based on regular expressions. For example, we see that most Cabins are structured like [A-F] and then 2 or 3 digit numbers. We can include this as follows:

In [18]:
from metasyn.distribution import RegexDistribution

# To create a regex distribution, you need a list of tuples, where each tuple is an element.
# The first part of the tuple is a string representation of the regex, while the second is the proportion of the
# time the regex element is used.
cabin_distribution = RegexDistribution(r"[ABCDEF][0-9]{2,3}")  # Add the r so that it becomes a literal string.
# just for completeness: data generated from this distribution will always match the regex [ABCDEF]?(\d{2,3})?

var_spec = {
    "PassengerId": {"unique": True}, 
    "Name": {"distribution": FakerDistribution("name")},
    "Fare": {"distribution": "ExponentialDistribution"}, # estimate / fit an exponential distribution based on the data
    "Age": {"distribution": DiscreteUniformDistribution(20, 40)}, # fully specify a distribution for age (uniform between 20 and 40)
    "Cabin": {"distribution": cabin_distribution}
}

mf = MetaFrame.fit_dataframe(df, spec=var_spec)
mf.synthesize(10)

shape: (10, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ f32    │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Jessica      ┆ male   ┆ null ┆ … ┆ 1910-01-07 ┆ 15:09:30   ┆ 2022-08-09   ┆ null   │
│             ┆ Rodriguez    ┆        ┆      ┆   ┆            ┆            ┆ 07:48:24     ┆        │
│ 2           ┆ Ryan Hunt    ┆ female ┆ 22   ┆ … ┆ 1938-08-09 ┆ 13:35:09   ┆ 2022-07-24   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 17:19:40     ┆        │
│ 3           ┆ Lauren Webb  ┆ female ┆ null ┆ … ┆ 1934-06-28 ┆ 12:21:46   ┆ 2022-08-02   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 23:22:06     ┆        │
│ 4           ┆ Derek        ┆ female ┆ 32   ┆ … ┆ 1932-05-05 ┆ null       ┆ 2022-07-30   ┆ null   │
│             ┆ Carpenter    ┆        ┆      ┆   ┆            ┆            ┆ 17:03:11     ┆        │
│ …           ┆ …            ┆ …      ┆ …    ┆ … ┆ …          ┆ …          ┆ …            ┆ …      │
│ 7           ┆ Shawn        ┆ female ┆ null ┆ … ┆ 1907-07-05 ┆ 17:29:12   ┆ 2022-08-01   ┆ null   │
│             ┆ Walters      ┆        ┆      ┆   ┆            ┆            ┆ 02:54:07     ┆        │
│ 8           ┆ Patrick      ┆ male   ┆ 23   ┆ … ┆ 1940-01-22 ┆ 12:07:01   ┆ 2022-08-04   ┆ null   │
│             ┆ Camacho      ┆        ┆      ┆   ┆            ┆            ┆ 18:09:12     ┆        │
│ 9           ┆ Shawn        ┆ male   ┆ 32   ┆ … ┆ 1920-12-04 ┆ 14:55:24   ┆ 2022-08-14   ┆ null   │
│             ┆ Townsend     ┆        ┆      ┆   ┆            ┆            ┆ 22:48:27     ┆        │
│ 10          ┆ Eric         ┆ male   ┆ 37   ┆ … ┆ 1918-03-14 ┆ 14:48:56   ┆ 2022-08-02   ┆ null   │
│             ┆ Washington   ┆        ┆      ┆   ┆            ┆            ┆ 19:54:57     ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

## Comparing the final synthetic dataset to the original

Let's first compare the averages of the numerical columns:

In [19]:
df.mean()

shape: (1, 13)
┌─────────────┬──────┬──────┬───────────┬───┬──────────┬────────────┬───────────────┬────────┐
│ PassengerId ┆ Name ┆ Sex  ┆ Age       ┆ … ┆ Birthday ┆ Board time ┆ Married since ┆ all_NA │
│ ---         ┆ ---  ┆ ---  ┆ ---       ┆   ┆ ---      ┆ ---        ┆ ---           ┆ ---    │
│ f64         ┆ str  ┆ cat  ┆ f64       ┆   ┆ date     ┆ time       ┆ datetime[μs]  ┆ str    │
╞═════════════╪══════╪══════╪═══════════╪═══╪══════════╪════════════╪═══════════════╪════════╡
│ 446.0       ┆ null ┆ null ┆ 29.693277 ┆ … ┆ null     ┆ null       ┆ null          ┆ null   │
└─────────────┴──────┴──────┴───────────┴───┴──────────┴────────────┴───────────────┴────────┘

In [20]:
mf.synthesize(len(df)).mean()

shape: (1, 13)
┌─────────────┬──────┬──────┬───────────┬───┬──────────┬────────────┬───────────────┬────────┐
│ PassengerId ┆ Name ┆ Sex  ┆ Age       ┆ … ┆ Birthday ┆ Board time ┆ Married since ┆ all_NA │
│ ---         ┆ ---  ┆ ---  ┆ ---       ┆   ┆ ---      ┆ ---        ┆ ---           ┆ ---    │
│ f64         ┆ str  ┆ cat  ┆ f64       ┆   ┆ date     ┆ time       ┆ datetime[μs]  ┆ f32    │
╞═════════════╪══════╪══════╪═══════════╪═══╪══════════╪════════════╪═══════════════╪════════╡
│ 446.0       ┆ null ┆ null ┆ 29.352617 ┆ … ┆ null     ┆ null       ┆ null          ┆ null   │
└─────────────┴──────┴──────┴───────────┴───┴──────────┴────────────┴───────────────┴────────┘

Then, we can also see how many missing values are in each column

In [21]:
df.null_count()

shape: (1, 13)
┌─────────────┬──────┬─────┬─────┬───┬──────────┬────────────┬───────────────┬────────┐
│ PassengerId ┆ Name ┆ Sex ┆ Age ┆ … ┆ Birthday ┆ Board time ┆ Married since ┆ all_NA │
│ ---         ┆ ---  ┆ --- ┆ --- ┆   ┆ ---      ┆ ---        ┆ ---           ┆ ---    │
│ u32         ┆ u32  ┆ u32 ┆ u32 ┆   ┆ u32      ┆ u32        ┆ u32           ┆ u32    │
╞═════════════╪══════╪═════╪═════╪═══╪══════════╪════════════╪═══════════════╪════════╡
│ 0           ┆ 0    ┆ 0   ┆ 177 ┆ … ┆ 78       ┆ 79         ┆ 92            ┆ 891    │
└─────────────┴──────┴─────┴─────┴───┴──────────┴────────────┴───────────────┴────────┘

In [22]:
mf.synthesize(len(df)).null_count()

shape: (1, 13)
┌─────────────┬──────┬─────┬─────┬───┬──────────┬────────────┬───────────────┬────────┐
│ PassengerId ┆ Name ┆ Sex ┆ Age ┆ … ┆ Birthday ┆ Board time ┆ Married since ┆ all_NA │
│ ---         ┆ ---  ┆ --- ┆ --- ┆   ┆ ---      ┆ ---        ┆ ---           ┆ ---    │
│ u32         ┆ u32  ┆ u32 ┆ u32 ┆   ┆ u32      ┆ u32        ┆ u32           ┆ u32    │
╞═════════════╪══════╪═════╪═════╪═══╪══════════╪════════════╪═══════════════╪════════╡
│ 0           ┆ 0    ┆ 0   ┆ 175 ┆ … ┆ 70       ┆ 79         ┆ 86            ┆ 891    │
└─────────────┴──────┴─────┴─────┴───┴──────────┴────────────┴───────────────┴────────┘