# Getting started with metasyn

In this tutorial, we will create a `MetaFrame` (a metadata representation of a given dataset) and then generate synthetic data from it. This example workflow starts from a `.csv` file as input, but it is easily adapted to other formats.

## Step 0: Install the metasyn package and import required packages
First, install the metasyn package in your session:

In [ ]:
# uncomment the following line and run the cell to install metasyn
# %pip install metasyn

In [1]:
# import required packages
import datetime as dt
import polars as pl
from metasyn import MetaFrame, demo_file

## Step 1: Load the data into a data frame

The first step in creating the metadata is reading and converting your dataset to a DataFrame with the correct data types. We use the [Polars](https://pola.rs) dataframe library for this (but you could also use Pandas!)

In [2]:
# get the path of the demo csv
demo_file_path = demo_file()

# read the data with the correct categorical variables
data_types={
    "Sex": pl.Categorical,
    "Embarked": pl.Categorical
}
df = pl.read_csv(demo_file_path, try_parse_dates=True, dtypes=data_types)

# check out the data
df.head()

shape: (5, 13)
┌─────────────┬───────────────┬────────┬─────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name          ┆ Sex    ┆ Age ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---           ┆ ---    ┆ --- ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str           ┆ cat    ┆ i64 ┆   ┆ date       ┆ time       ┆ ---          ┆ str    │
│             ┆               ┆        ┆     ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪═══════════════╪════════╪═════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Braund, Mr.   ┆ male   ┆ 22  ┆ … ┆ 1937-10-28 ┆ 15:53:04   ┆ 2022-08-05   ┆ null   │
│             ┆ Owen Harris   ┆        ┆     ┆   ┆            ┆            ┆ 04:43:34     ┆        │
│ 2           ┆ Cumings, Mrs. ┆ female ┆ 38  ┆ … ┆ null       ┆ 12:26:00   ┆ 2022-08-07   ┆ null   │
│             ┆ John Bradley  ┆        ┆     ┆   ┆            ┆            ┆ 01:56:33     ┆        │
│             ┆ (Flor…        ┆        ┆     ┆   ┆            ┆            ┆              ┆        │
│ 3           ┆ Heikkinen,    ┆ female ┆ 26  ┆ … ┆ 1931-09-24 ┆ 16:08:25   ┆ 2022-08-04   ┆ null   │
│             ┆ Miss. Laina   ┆        ┆     ┆   ┆            ┆            ┆ 20:27:37     ┆        │
│ 4           ┆ Futrelle,     ┆ female ┆ 35  ┆ … ┆ 1936-11-30 ┆ null       ┆ 2022-08-07   ┆ null   │
│             ┆ Mrs. Jacques  ┆        ┆     ┆   ┆            ┆            ┆ 07:05:55     ┆        │
│             ┆ Heath (Li…    ┆        ┆     ┆   ┆            ┆            ┆              ┆        │
│ 5           ┆ Allen, Mr.    ┆ male   ┆ 35  ┆ … ┆ 1918-11-07 ┆ 10:59:08   ┆ 2022-08-02   ┆ null   │
│             ┆ William Henry ┆        ┆     ┆   ┆            ┆            ┆ 15:13:34     ┆        │
└─────────────┴───────────────┴────────┴─────┴───┴────────────┴────────────┴──────────────┴────────┘

Now, let's check the data types of our DataFrame:

In [6]:
dict(zip(df.columns, df.dtypes))

{'PassengerId': Int64,
 'Name': Utf8,
 'Sex': Categorical,
 'Age': Int64,
 'Parch': Int64,
 'Ticket': Utf8,
 'Fare': Float64,
 'Cabin': Utf8,
 'Embarked': Categorical,
 'Birthday': Date,
 'Board time': Time,
 'Married since': Datetime(time_unit='us', time_zone=None),
 'all_NA': Utf8}

We see that most variables are now nicely specified as strings, categories, dates and ints where necessary. We can also inspect the data a bit more with `glimpse()`.

In [7]:
df.glimpse()

Rows: 891
Columns: 13
$ PassengerId            <i64> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
$ Name                   <str> Braund, Mr. Owen Harris, Cumings, Mrs. John Bradley (Florence Briggs Thayer), Heikkinen, Miss. Laina, Futrelle, Mrs. Jacques Heath (Lily May Peel), Allen, Mr. William Henry, Moran, Mr. James, McCarthy, Mr. Timothy J, Palsson, Master. Gosta Leonard, Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg), Nasser, Mrs. Nicholas (Adele Achem)
$ Sex                    <cat> male, female, female, female, male, male, male, male, female, female
$ Age                    <i64> 22, 38, 26, 35, 35, None, 54, 2, 27, 14
$ Parch                  <i64> 0, 0, 0, 0, 0, 0, 0, 1, 2, 0
$ Ticket                 <str> A/5 21171, PC 17599, STON/O2. 3101282, 113803, 373450, 330877, 17463, 349909, 347742, 237736
$ Fare                   <f64> 7.25, 71.2833, 7.925, 53.1, 8.05, 8.4583, 51.8625, 21.075, 11.1333, 30.0708
$ Cabin                  <str> None, C85, None, C123, None, None, E46, None, None, None
$ Embarked               <cat> S, C, S, S, S, Q, S, S, S, C
$ Birthday              <date> 1937-10-28, None, 1931-09-24, 1936-11-30, 1918-11-07, 1923-06-02, 1928-07-02, 1918-03-12, 1909-11-16, None
$ Board time            <time> 15:53:04, 12:26:00, 16:08:25, None, 10:59:08, 16:28:33, 17:20:04, 17:56:40, 16:33:50, 17:28:21
$ Married since <datetime[μs]> 2022-08-05 04:43:34, 2022-08-07 01:56:33, 2022-08-04 20:27:37, 2022-08-07 07:05:55, 2022-08-02 15:13:34, 2022-07-28 14:37:30, 2022-07-18 20:20:09, 2022-08-02 03:42:58, 2022-08-07 04:06:24, 2022-07-17 22:55:10
$ all_NA                 <str> None, None, None, None, None, None, None, None, None, None

## Step 2: Generating a MetaFrame

Now that we have properly formatted our DataFrame, we can easily generate a MetaFrame for it. 

> **MetaFrames:**
> A **MetaFrame** is an object which captures the essential aspects of the dataset, including variable names, types, data types, the percentage of missing values, and distribution attributes. MetaFrame objects capture all the information needed to generate a synthetic dataset that aligns with the original dataset, without containing any *entries* of the original dataset.

More information on generating MetaFrames can be found on the metasyn docs, [here](https://metasynth.readthedocs.io/en/latest/usage/generating_metaframes.html).

In [8]:
# Generate and fit a MetaFrame to the DataFrame 
mf = MetaFrame.fit_dataframe(df)

C:\Users\erikj\surfdrive\SoDa\projects\synthetic_data\metasyn\metasyn\provider.py:226: UserWarning:
Variable PassengerId seems unique, but not set to be unique.
Set the variable to be either unique or not unique to remove this warning.

  warnings.warn(f"\nVariable {series.name} seems unique, but not set to be unique.\n"

We can call the `print` function to display the (statistical metadata contained in the) MetaFrame in an easy-to-read format:

In [12]:
print(mf)

# Rows: 891
# Columns: 13

Column 1: "PassengerId"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.discrete_uniform
	- Provenance: builtin
	- Parameters:
		- low: 1
		- high: 892


Column 2: "Name"
- Variable Type: string
- Data Type: Utf8
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.regex
	- Provenance: builtin
	- Parameters:
		- regex: [A-Z][a-z]{2,9}[,][ ][M]((|[a][s][t][e])[r][\.][ ][A-Z][a-z]{3,7}(|[ ][A-Z][a-z]{3,7})|[i][s]{2,2}[\.][ ][A-Z][a-z]{3,8}(|[ ][A-Z][a-z]{4,7}))


Column 3: "Sex"
- Variable Type: categorical
- Data Type: Categorical
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: ['female' 'male']
		- probs: [0.35241302 0.64758698]


Column 4: "Age"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.1987
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
	 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
	 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 70 71 74 80]
		- probs: [0.00140056 0.01820728 0.0140056  0.00840336 0.0140056  0.00560224
	 0.00420168 0.00420168 0.00560224 0.01120448 0.00280112 0.00560224
	 0.00140056 0.00280112 0.00980392 0.0070028  0.02380952 0.01820728
	 0.03641457 0.03501401 0.02240896 0.03361345 0.03781513 0.0210084
	 0.04481793 0.03221289 0.02521008 0.02521008 0.03781513 0.0280112
	 0.03781513 0.02380952 0.0280112  0.0210084  0.02240896 0.02521008
	 0.03221289 0.00840336 0.01540616 0.01960784 0.0210084  0.00840336
	 0.01820728 0.0070028  0.01260504 0.01680672 0.0070028  0.01260504
	 0.01260504 0.00840336 0.0140056  0.00980392 0.00840336 0.00140056
	 0.01120448 0.00280112 0.0070028  0.00280112 0.0070028  0.00280112
	 0.00560224 0.00420168 0.00560224 0.00280112 0.00280112 0.00420168
	 0.00140056 0.00420168 0.00280112 0.00140056 0.00140056]


Column 5: "Parch"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: [0 1 2 3 4 5 6]
		- probs: [0.76094276 0.13243547 0.08978676 0.00561167 0.00448934 0.00561167
	 0.00112233]


Column 6: "Ticket"
- Variable Type: string
- Data Type: Utf8
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.regex
	- Provenance: builtin
	- Parameters:
		- regex: (|([P][C][ ]|[CA-Z]{1,4}[\.][A][\.][ ]))[0-9]{4,6}


Column 7: "Fare"
- Variable Type: continuous
- Data Type: Float64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.exponential
	- Provenance: builtin
	- Parameters:
		- rate: 0.03052908440177665


Column 8: "Cabin"
- Variable Type: string
- Data Type: Utf8
- Proportion of Missing Values: 0.7710
- Distribution:
	- Type: core.regex
	- Provenance: builtin
	- Parameters:
		- regex: [A-Z](|[0-9 ]{1,2}(|(|[ ](|[C][2][5][ ]))[0-9A-Z]{1,3}))


Column 9: "Embarked"
- Variable Type: categorical
- Data Type: Categorical
- Proportion of Missing Values: 0.0022
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: ['C' 'Q' 'S']
		- probs: [0.18897638 0.08661417 0.72440945]


Column 10: "Birthday"
- Variable Type: date
- Data Type: Date
- Proportion of Missing Values: 0.0875
- Distribution:
	- Type: core.uniform_date
	- Provenance: builtin
	- Parameters:
		- start: 1903-07-28
		- end: 1940-05-27


Column 11: "Board time"
- Variable Type: time
- Data Type: Time
- Proportion of Missing Values: 0.0887
- Distribution:
	- Type: core.uniform_time
	- Provenance: builtin
	- Parameters:
		- start: 10:39:40
		- end: 18:39:28
		- precision: seconds


Column 12: "Married since"
- Variable Type: datetime
- Data Type: Datetime(time_unit='us', time_zone=None)
- Proportion of Missing Values: 0.1033
- Distribution:
	- Type: core.uniform_datetime
	- Provenance: builtin
	- Parameters:
		- start: 2022-07-15T12:21:15
		- end: 2022-08-15T10:32:05
		- precision: seconds


Column 13: "all_NA"
- Variable Type: string
- Data Type: Utf8
- Proportion of Missing Values: 1.0000
- Distribution:
	- Type: core.na
	- Provenance: builtin
	- Parameters:

## Step 3: Exporting the MetaFrame

After creating the MetaFrame, Metasyn can serialize and export it into a GMF file using `mf.export()`, passing in the filepath as a parameter.

> **GMF files:**
> GMF files are JSON files that follow the [Generative Metadata Format (GMF)](https://github.com/sodascience/generative_metadata_format), a format designed to contain statistical metadata for (tabular) datasets that has been designed to be easy to read and understand. This allows users to audit, understand, modify and share their data generation model with ease.

More information on exporting and importing MetaFrames can be found on the metasyn docs, [here](https://metasynth.readthedocs.io/en/latest/usage/exporting_metaframes.html).

In [13]:
file_path = "demonstration_metadata.json"

# Serialize and export the MetaFrame to a GMF file
mf.export(file_path)

You can now open and read the GMF formatted .json file!

A (previously exported) GMF file can be imported and loaded into a MetaFrame using the `MetaFrame.from_json()` class method, passing in the file path as a parameter.

In [14]:
# Create a MetaFrame based on a GMF (.json) file
mf = MetaFrame.from_json(file_path)

## Step 4: Generating synthetic data from a MetaFrame

Once a MetaFrame is loaded, synthetic data can be generated from it. The `synthesize` method takes the number of rows to be generated as parameter and returns a DataFrame with the synthetic data.

More information on generating synthetic data based on MetaFrames can be found on the metasyn docs, [here](https://metasynth.readthedocs.io/en/latest/usage/generating_synthetic_data.html).

In [15]:
# generate synthetic data
mf.synthesize(5)

shape: (5, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ f32    │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 432         ┆ Uvy, Miss.   ┆ female ┆ 23   ┆ … ┆ 1921-10-08 ┆ 16:34:41   ┆ 2022-08-05   ┆ null   │
│             ┆ Jopvw Yofqth ┆        ┆      ┆   ┆            ┆            ┆ 01:14:46     ┆        │
│ 422         ┆ Hzqybuluy,   ┆ female ┆ 19   ┆ … ┆ 1909-05-11 ┆ 18:15:32   ┆ null         ┆ null   │
│             ┆ Mr. Bqpzvg   ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 645         ┆ Vdz, Miss.   ┆ female ┆ null ┆ … ┆ 1912-02-05 ┆ 14:26:59   ┆ 2022-07-24   ┆ null   │
│             ┆ Ttnpy        ┆        ┆      ┆   ┆            ┆            ┆ 20:05:30     ┆        │
│ 417         ┆ Kurqbf, Mr.  ┆ female ┆ 50   ┆ … ┆ 1930-09-23 ┆ 17:23:54   ┆ 2022-07-25   ┆ null   │
│             ┆ Tmnz Ordw    ┆        ┆      ┆   ┆            ┆            ┆ 18:27:00     ┆        │
│ 786         ┆ Vome, Mr.    ┆ male   ┆ 45   ┆ … ┆ 1937-11-03 ┆ 14:16:40   ┆ 2022-07-18   ┆ null   │
│             ┆ Mekcehy      ┆        ┆      ┆   ┆            ┆            ┆ 15:40:32     ┆        │
│             ┆ Kbyeqa       ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

As you can see, the fake data looks a lot like the real data! However, it could still use some improvement. Below, a brief example is shown of such potential manual improvements. If you want to know more about these improvements, take a look at our [advanced tutorial](https://colab.research.google.com/github/sodascience/metasyn/blob/main/examples/advanced_tutorial.ipynb).

In [17]:
from metasyn.distribution import LogNormalDistribution, DiscreteUniformDistribution, RegexDistribution, FakerDistribution

# Using some advanced features of metasyn
var_spec = {
    # Ensure that the passengerId column is unique
    "PassengerId": {"unique": True}, 
    # Use fake names for the name column
    "Name": {"distribution": FakerDistribution("name")}, 
     # Estimate / fit a lognormal distribution
    "Fare": {"distribution": LogNormalDistribution},
    # Manually set a distribution for age 
    "Age": {"distribution": DiscreteUniformDistribution(20, 40)},
    # Manually set a regex distribution for cabin
    "Cabin": {"distribution": RegexDistribution(r"[ABCDEF][0-9]{2,3}")}
}

# create the high-quality metadata
mf = MetaFrame.fit_dataframe(df, spec=var_spec)

# generate synthetic data
syn_df = mf.synthesize(len(df))
syn_df.head()

shape: (5, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ f32    │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Christopher  ┆ male   ┆ 33   ┆ … ┆ 1916-12-03 ┆ 12:22:37   ┆ 2022-08-10   ┆ null   │
│             ┆ Martin       ┆        ┆      ┆   ┆            ┆            ┆ 16:40:02     ┆        │
│ 2           ┆ Nicole Crane ┆ male   ┆ null ┆ … ┆ 1935-01-13 ┆ 17:59:27   ┆ null         ┆ null   │
│ 3           ┆ Seth Rojas   ┆ male   ┆ 28   ┆ … ┆ 1934-09-20 ┆ 11:38:14   ┆ 2022-08-01   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 23:53:23     ┆        │
│ 4           ┆ Bethany      ┆ female ┆ 24   ┆ … ┆ 1926-10-18 ┆ 17:11:01   ┆ 2022-07-15   ┆ null   │
│             ┆ Rosario      ┆        ┆      ┆   ┆            ┆            ┆ 18:10:49     ┆        │
│ 5           ┆ Amber Peters ┆ male   ┆ null ┆ … ┆ null       ┆ 17:39:35   ┆ 2022-08-12   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 13:53:02     ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

Now, let's compare the synthetic data to the real data:

In [18]:
df.describe()

shape: (9, 14)
┌────────────┬───────────┬─────────────┬──────┬───┬────────────┬─────────────┬────────────┬────────┐
│ describe   ┆ Passenger ┆ Name        ┆ Sex  ┆ … ┆ Birthday   ┆ Board time  ┆ Married    ┆ all_NA │
│ ---        ┆ Id        ┆ ---         ┆ ---  ┆   ┆ ---        ┆ ---         ┆ since      ┆ ---    │
│ str        ┆ ---       ┆ str         ┆ str  ┆   ┆ str        ┆ str         ┆ ---        ┆ str    │
│            ┆ f64       ┆             ┆      ┆   ┆            ┆             ┆ str        ┆        │
╞════════════╪═══════════╪═════════════╪══════╪═══╪════════════╪═════════════╪════════════╪════════╡
│ count      ┆ 891.0     ┆ 891         ┆ 891  ┆ … ┆ 891        ┆ 891         ┆ 891        ┆ 891    │
│ null_count ┆ 0.0       ┆ 0           ┆ 0    ┆ … ┆ 78         ┆ 79          ┆ 92         ┆ 891    │
│ mean       ┆ 446.0     ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
│ std        ┆ 257.35384 ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
│            ┆ 2         ┆             ┆      ┆   ┆            ┆             ┆            ┆        │
│ min        ┆ 1.0       ┆ Abbing, Mr. ┆ null ┆ … ┆ 1903-07-28 ┆ 38380000000 ┆ 2022-07-15 ┆ null   │
│            ┆           ┆ Anthony     ┆      ┆   ┆            ┆ 000         ┆ 12:21:15.0 ┆        │
│            ┆           ┆             ┆      ┆   ┆            ┆             ┆ 00000      ┆        │
│ max        ┆ 891.0     ┆ van         ┆ null ┆ … ┆ 1940-05-27 ┆ 67168000000 ┆ 2022-08-15 ┆ null   │
│            ┆           ┆ Melkebeke,  ┆      ┆   ┆            ┆ 000         ┆ 10:32:05.0 ┆        │
│            ┆           ┆ Mr.         ┆      ┆   ┆            ┆             ┆ 00000      ┆        │
│            ┆           ┆ Philemon    ┆      ┆   ┆            ┆             ┆            ┆        │
│ median     ┆ 446.0     ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
│ 25%        ┆ 223.0     ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
│ 75%        ┆ 669.0     ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
└────────────┴───────────┴─────────────┴──────┴───┴────────────┴─────────────┴────────────┴────────┘

In [19]:
syn_df.describe()

shape: (9, 14)
┌────────────┬───────────┬─────────────┬──────┬───┬────────────┬─────────────┬────────────┬────────┐
│ describe   ┆ Passenger ┆ Name        ┆ Sex  ┆ … ┆ Birthday   ┆ Board time  ┆ Married    ┆ all_NA │
│ ---        ┆ Id        ┆ ---         ┆ ---  ┆   ┆ ---        ┆ ---         ┆ since      ┆ ---    │
│ str        ┆ ---       ┆ str         ┆ str  ┆   ┆ str        ┆ str         ┆ ---        ┆ f64    │
│            ┆ f64       ┆             ┆      ┆   ┆            ┆             ┆ str        ┆        │
╞════════════╪═══════════╪═════════════╪══════╪═══╪════════════╪═════════════╪════════════╪════════╡
│ count      ┆ 891.0     ┆ 891         ┆ 891  ┆ … ┆ 891        ┆ 891         ┆ 891        ┆ 891.0  │
│ null_count ┆ 0.0       ┆ 0           ┆ 0    ┆ … ┆ 93         ┆ 70          ┆ 83         ┆ 891.0  │
│ mean       ┆ 446.0     ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
│ std        ┆ 257.35384 ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
│            ┆ 2         ┆             ┆      ┆   ┆            ┆             ┆            ┆        │
│ min        ┆ 1.0       ┆ Aaron Avila ┆ null ┆ … ┆ 1903-08-01 ┆ 38380000000 ┆ 2022-07-15 ┆ null   │
│            ┆           ┆             ┆      ┆   ┆            ┆ 000         ┆ 13:09:35.0 ┆        │
│            ┆           ┆             ┆      ┆   ┆            ┆             ┆ 00000      ┆        │
│ max        ┆ 891.0     ┆ Zachary     ┆ null ┆ … ┆ 1940-05-22 ┆ 67166000000 ┆ 2022-08-15 ┆ null   │
│            ┆           ┆ Skinner     ┆      ┆   ┆            ┆ 000         ┆ 09:01:12.0 ┆        │
│            ┆           ┆             ┆      ┆   ┆            ┆             ┆ 00000      ┆        │
│ median     ┆ 446.0     ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
│ 25%        ┆ 223.0     ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
│ 75%        ┆ 669.0     ┆ null        ┆ null ┆ … ┆ null       ┆ null        ┆ null       ┆ null   │
└────────────┴───────────┴─────────────┴──────┴───┴────────────┴─────────────┴────────────┴────────┘