# Advanced Tutorial on metasyn

In this tutorial, we will be creating synthetic data using the `metasyn` package.

Some advanced features of metasyn will be covered further along the tutorial, such as handling dates, setting distributions, ensuring uniqueness in columns and adding variable descriptions.

For more information refer to the [user's guide](https://metasynth.readthedocs.io/en/latest/usage/usage.html) on the docs.

## Step 0: Install the metasyn package and import required packages

First, let's install the metasyn package.

In [1]:
# Run the following line to install metasyn
# %pip install metasyn

Now, let's import the required packages.

In [2]:
# import required packages
import polars as pl
from metasyn import MetaFrame, demo_file, VarSpec

## Step 1: Loading the dataset

The first step to create synthetic data is to load your dataset into a DataFrame. For this tutorial, we will be using the [Titanic dataset](https://www.kaggle.com/c/titanic/data), which can easily be accessed through the metasyn `demo_file()` function. 

It is important to set the data types of columns in the DataFrame correctly, as this will help metasyn to infer the correct distributions for each variable later.


> **Note** 
> In this tutorial we use [Polars](https://pola.rs) to create the DataFrame, as that is what metasyn uses internally. Pandas is also supported, but will automatically be converted to Polars by metasyn. For best results it is recommended to use Polars.

In [3]:
# get the demonstration data file
csv_path = demo_file("titanic")

# ensure columns are of the correct type
data_types = {"Sex": pl.Categorical, "Embarked": pl.Categorical}

# read the data from the csv path
df = pl.read_csv(csv_path, dtypes=data_types, try_parse_dates=True)

# check out the data
df.head()

shape: (5, 13)
┌─────────────┬───────────────┬────────┬─────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name          ┆ Sex    ┆ Age ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---           ┆ ---    ┆ --- ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str           ┆ cat    ┆ i64 ┆   ┆ date       ┆ time       ┆ ---          ┆ str    │
│             ┆               ┆        ┆     ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪═══════════════╪════════╪═════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Braund, Mr.   ┆ male   ┆ 22  ┆ … ┆ 1937-10-28 ┆ 15:53:04   ┆ 2022-08-05   ┆ null   │
│             ┆ Owen Harris   ┆        ┆     ┆   ┆            ┆            ┆ 04:43:34     ┆        │
│ 2           ┆ Cumings, Mrs. ┆ female ┆ 38  ┆ … ┆ null       ┆ 12:26:00   ┆ 2022-08-07   ┆ null   │
│             ┆ John Bradley  ┆        ┆     ┆   ┆            ┆            ┆ 01:56:33     ┆        │
│             ┆ (Flor…        ┆        ┆     ┆   ┆            ┆            ┆              ┆        │
│ 3           ┆ Heikkinen,    ┆ female ┆ 26  ┆ … ┆ 1931-09-24 ┆ 16:08:25   ┆ 2022-08-04   ┆ null   │
│             ┆ Miss. Laina   ┆        ┆     ┆   ┆            ┆            ┆ 20:27:37     ┆        │
│ 4           ┆ Futrelle,     ┆ female ┆ 35  ┆ … ┆ 1936-11-30 ┆ null       ┆ 2022-08-07   ┆ null   │
│             ┆ Mrs. Jacques  ┆        ┆     ┆   ┆            ┆            ┆ 07:05:55     ┆        │
│             ┆ Heath (Li…    ┆        ┆     ┆   ┆            ┆            ┆              ┆        │
│ 5           ┆ Allen, Mr.    ┆ male   ┆ 35  ┆ … ┆ 1918-11-07 ┆ 10:59:08   ┆ 2022-08-02   ┆ null   │
│             ┆ William Henry ┆        ┆     ┆   ┆            ┆            ┆ 15:13:34     ┆        │
└─────────────┴───────────────┴────────┴─────┴───┴────────────┴────────────┴──────────────┴────────┘

We can check the data types of our DataFrame as follows:

In [4]:
dict(zip(df.columns, df.dtypes))

{'PassengerId': Int64,
 'Name': String,
 'Sex': Categorical(ordering='physical'),
 'Age': Int64,
 'Parch': Int64,
 'Ticket': String,
 'Fare': Float64,
 'Cabin': String,
 'Embarked': Categorical(ordering='physical'),
 'Birthday': Date,
 'Board time': Time,
 'Married since': Datetime(time_unit='us', time_zone=None),
 'all_NA': String}

We see that most variables are now nicely specified as strings, categories, dates and ints where necessary. We can get some more information on the DataFrame by calling the `describe()` on it, this will give us some information on the distribution of the variables:

In [5]:
df.describe()

shape: (9, 14)
┌────────────┬─────────────┬────────────┬──────┬───┬────────────┬────────────┬────────────┬────────┐
│ statistic  ┆ PassengerId ┆ Name       ┆ Sex  ┆ … ┆ Birthday   ┆ Board time ┆ Married    ┆ all_NA │
│ ---        ┆ ---         ┆ ---        ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since      ┆ ---    │
│ str        ┆ f64         ┆ str        ┆ str  ┆   ┆ str        ┆ str        ┆ ---        ┆ str    │
│            ┆             ┆            ┆      ┆   ┆            ┆            ┆ str        ┆        │
╞════════════╪═════════════╪════════════╪══════╪═══╪════════════╪════════════╪════════════╪════════╡
│ count      ┆ 891.0       ┆ 891        ┆ 891  ┆ … ┆ 813        ┆ 812        ┆ 799        ┆ 0      │
│ null_count ┆ 0.0         ┆ 0          ┆ 0    ┆ … ┆ 78         ┆ 79         ┆ 92         ┆ 891    │
│ mean       ┆ 446.0       ┆ null       ┆ null ┆ … ┆ 1921-07-28 ┆ 14:38:10.0 ┆ 2022-07-31 ┆ null   │
│            ┆             ┆            ┆      ┆   ┆            ┆ 14778      ┆ 03:43:48.7 ┆        │
│            ┆             ┆            ┆      ┆   ┆            ┆            ┆ 67208      ┆        │
│ std        ┆ 257.353842  ┆ null       ┆ null ┆ … ┆ null       ┆ null       ┆ null       ┆ null   │
│ min        ┆ 1.0         ┆ Abbing,    ┆ null ┆ … ┆ 1903-07-28 ┆ 10:39:40   ┆ 2022-07-15 ┆ null   │
│            ┆             ┆ Mr.        ┆      ┆   ┆            ┆            ┆ 12:21:15   ┆        │
│            ┆             ┆ Anthony    ┆      ┆   ┆            ┆            ┆            ┆        │
│ 25%        ┆ 224.0       ┆ null       ┆ null ┆ … ┆ 1911-09-18 ┆ 12:39:02   ┆ 2022-07-23 ┆ null   │
│            ┆             ┆            ┆      ┆   ┆            ┆            ┆ 11:16:56   ┆        │
│ 50%        ┆ 446.0       ┆ null       ┆ null ┆ … ┆ 1922-03-26 ┆ 14:29:34   ┆ 2022-07-31 ┆ null   │
│            ┆             ┆            ┆      ┆   ┆            ┆            ┆ 00:36:56   ┆        │
│ 75%        ┆ 669.0       ┆ null       ┆ null ┆ … ┆ 1930-08-29 ┆ 16:40:12   ┆ 2022-08-08 ┆ null   │
│            ┆             ┆            ┆      ┆   ┆            ┆            ┆ 03:35:52   ┆        │
│ max        ┆ 891.0       ┆ van        ┆ null ┆ … ┆ 1940-05-27 ┆ 18:39:28   ┆ 2022-08-15 ┆ null   │
│            ┆             ┆ Melkebeke, ┆      ┆   ┆            ┆            ┆ 10:32:05   ┆        │
│            ┆             ┆ Mr.        ┆      ┆   ┆            ┆            ┆            ┆        │
│            ┆             ┆ Philemon   ┆      ┆   ┆            ┆            ┆            ┆        │
└────────────┴─────────────┴────────────┴──────┴───┴────────────┴────────────┴────────────┴────────┘

## Step 2: Generating a MetaFrame

Now that we have properly formatted our DataFrame, we can easily generate a MetaFrame for it. 
We'll do this without passing in any optional parameters, but later on in this tutorial we will cover how custom parameters can help provide control over the MetaFrame generation process. 

> **MetaFrames:**
> A MetaFrame is an object which captures the essential aspects of the dataset, including variable names, types, data types, the percentage of missing values, and distribution parameters. MetaFrame objects capture all the information needed to generate a synthetic dataset that aligns with the original dataset, without containing any *entries* of the original dataset.

More information on generating MetaFrames can be found on the metasyn docs ['generating metaframes'](https://metasynth.readthedocs.io/en/latest/usage/generating_metaframes.html) page.

Generating a MetaFrame is simple, and can be done by simply calling the `MetaFrame.fit_dataframe()` class method, passing in the DataFrame as a parameter.

In [6]:
# Generate and fit a MetaFrame to the DataFrame 
mf = MetaFrame.fit_dataframe(df)

  0%|          | 0/13 [00:00<?, ?it/s]

/home/qubix/Documents/repos/metasyn/metasyn/metasyn/provider.py:288: UserWarning:
Variable PassengerId seems unique, but not set to be unique.
Set the variable to be either unique or not unique to remove this warning.

  warnings.warn(
100%|██████████| 13/13 [00:04<00:00,  2.73it/s]

We can use the built-in Python `print` function to display the (statistical) metadata contained in the MetaFrame in an easy-to-read format:

In [7]:
print(mf)

# Rows: 891
# Columns: 13

Column 1: "PassengerId"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.uniform
	- Provenance: builtin
	- Parameters:
		- lower: 1
		- upper: 892


Column 2: "Name"
- Variable Type: string
- Data Type: String
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.freetext
	- Provenance: builtin
	- Parameters:
		- locale: EN
		- avg_sentences: 2.4691358024691357
		- avg_words: 4.093153759820426


Column 3: "Sex"
- Variable Type: categorical
- Data Type: Categorical(ordering='physical')
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: ['female' 'male']
		- probs: [0.35241302 0.64758698]


Column 4: "Age"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.1987
- Distribution:
	- Type: core.truncated_normal
	- Provenance: builtin
	- Parameters:
		- lower: -1e-08
		- upper: 80.00000001
		- mean: 28.403638823278087
		- sd: 15.862325051407092


Column 5: "Parch"
- Variable Type: discrete
- Data Type: Int64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.truncated_normal
	- Provenance: builtin
	- Parameters:
		- lower: -1e-08
		- upper: 6.00000001
		- mean: -380.6440825743838
		- sd: 12.066012048277289


Column 6: "Ticket"
- Variable Type: string
- Data Type: String
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.regex
	- Provenance: builtin
	- Parameters:
		- regex: (|[A-Z]{1,4}(|(\.A\.|/[0-9A-Z])) )[0-9]{4,6}


Column 7: "Fare"
- Variable Type: continuous
- Data Type: Float64
- Proportion of Missing Values: 0.0000
- Distribution:
	- Type: core.exponential
	- Provenance: builtin
	- Parameters:
		- rate: 0.03052908440177665


Column 8: "Cabin"
- Variable Type: string
- Data Type: String
- Proportion of Missing Values: 0.7710
- Distribution:
	- Type: core.regex
	- Provenance: builtin
	- Parameters:
		- regex: [A-G][0-9 ]{1,3}(|[B-C][0-9]{2}(| [B-C][0-9]{2})|[A-Z][0-9]{2})


Column 9: "Embarked"
- Variable Type: categorical
- Data Type: Categorical(ordering='physical')
- Proportion of Missing Values: 0.0022
- Distribution:
	- Type: core.multinoulli
	- Provenance: builtin
	- Parameters:
		- labels: ['C' 'Q' 'S']
		- probs: [0.18897638 0.08661417 0.72440945]


Column 10: "Birthday"
- Variable Type: date
- Data Type: Date
- Proportion of Missing Values: 0.0875
- Distribution:
	- Type: core.uniform
	- Provenance: builtin
	- Parameters:
		- lower: 1903-07-28
		- upper: 1940-05-27


Column 11: "Board time"
- Variable Type: time
- Data Type: Time
- Proportion of Missing Values: 0.0887
- Distribution:
	- Type: core.uniform
	- Provenance: builtin
	- Parameters:
		- lower: 10:39:40
		- upper: 18:39:28
		- precision: seconds


Column 12: "Married since"
- Variable Type: datetime
- Data Type: Datetime(time_unit='us', time_zone=None)
- Proportion of Missing Values: 0.1033
- Distribution:
	- Type: core.uniform
	- Provenance: builtin
	- Parameters:
		- lower: 2022-07-15T12:21:15
		- upper: 2022-08-15T10:32:05
		- precision: seconds


Column 13: "all_NA"
- Variable Type: string
- Data Type: String
- Proportion of Missing Values: 1.0000
- Distribution:
	- Type: core.na
	- Provenance: builtin
	- Parameters:

## Step 3: Exporting the MetaFrame

After creating the MetaFrame, Metasyn can serialize and export it into a GMF file using `mf.export()`, passing in the filepath as a parameter. 


> **GMF files:**
> GMF files are JSON files that follow the [Generative Metadata Format (GMF)](https://github.com/sodascience/generative_metadata_format), a format designed to contain statistical metadata for (tabular) datasets that has been designed to be easy to read and understand. This allows users to audit, understand, modify and share their data generation model with ease.

More information on exporting and importing MetaFrames can be found on the metasyn docs ['exporting and importing metaframes'](https://metasynth.readthedocs.io/en/latest/usage/exporting_metaframes.html) page.

In [8]:
file_path = "example_gmf_titanic.json"

# Serialize and export the MetaFrame to a GMF file
mf.export(file_path)

The GMF file should now be saved to the specified filepath, feel free to open and inspect it!

It's also possible to preview how the exported file would look, without actually saving it to disk. This can be done as follows:

In [9]:
# Get a preview of the GMF file (`repr()`) and print it (`print()`)
print(repr(mf))

{
    "n_rows": 891,
    "n_columns": 13,
    "provenance": {
        "created by": {
            "name": "metasyn",
            "version": "0.7.1.dev15+g2ce8291.d20240308"
        },
        "creation time": "2024-03-08T10:54:43.429799"
    },
    "vars": [
        {
            "name": "PassengerId",
            "type": "discrete",
            "dtype": "Int64",
            "prop_missing": 0.0,
            "distribution": {
                "implements": "core.uniform",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "DiscreteUniformDistribution",
                "unique": false,
                "parameters": {
                    "lower": 1,
                    "upper": 892
                }
            }
        },
        {
            "name": "Name",
            "type": "string",
            "dtype": "String",
            "prop_missing": 0.0,
            "distribution": {
                "implements": "core.freetext",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "FreeTextDistribution",
                "unique": false,
                "parameters": {
                    "locale": "EN",
                    "avg_sentences": 2.4691358024691357,
                    "avg_words": 4.093153759820426
                }
            }
        },
        {
            "name": "Sex",
            "type": "categorical",
            "dtype": "Categorical(ordering='physical')",
            "prop_missing": 0.0,
            "distribution": {
                "implements": "core.multinoulli",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "MultinoulliDistribution",
                "unique": false,
                "parameters": {
                    "labels": [
                        "female",
                        "male"
                    ],
                    "probs": [
                        0.35241301907968575,
                        0.6475869809203143
                    ]
                }
            }
        },
        {
            "name": "Age",
            "type": "discrete",
            "dtype": "Int64",
            "prop_missing": 0.19865319865319866,
            "distribution": {
                "implements": "core.truncated_normal",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "DiscreteTruncatedNormalDistribution",
                "unique": false,
                "parameters": {
                    "lower": -1e-08,
                    "upper": 80.00000001,
                    "mean": 28.403638823278087,
                    "sd": 15.862325051407092
                }
            }
        },
        {
            "name": "Parch",
            "type": "discrete",
            "dtype": "Int64",
            "prop_missing": 0.0,
            "distribution": {
                "implements": "core.truncated_normal",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "DiscreteTruncatedNormalDistribution",
                "unique": false,
                "parameters": {
                    "lower": -1e-08,
                    "upper": 6.00000001,
                    "mean": -380.6440825743838,
                    "sd": 12.066012048277289
                }
            }
        },
        {
            "name": "Ticket",
            "type": "string",
            "dtype": "String",
            "prop_missing": 0.0,
            "distribution": {
                "implements": "core.regex",
                "version": "2.0",
                "provenance": "builtin",
                "class_name": "RegexDistribution",
                "unique": false,
                "parameters": {
                    "regex_data": {
                        "regex": "(|[A-Z]{1,4}(|(\\.A\\.|/[0-9A-Z])) )[0-9]{4,6}",
                        "counts": [
                            [
                                [
                                    643
                                ],
                                [
                                    46,
                                    [
                                        [
                                            75
                                        ],
                                        [
                                            [
                                                [
                                                    27,
                                                    27,
                                                    27,
                                                    27
                                                ],
                                                [
                                                    19,
                                                    19,
                                                    19
                                                ]
                                            ],
                                            0
                                        ]
                                    ],
                                    75,
                                    75
                                ]
                            ],
                            643,
                            643
                        ]
                    }
                }
            }
        },
        {
            "name": "Fare",
            "type": "continuous",
            "dtype": "Float64",
            "prop_missing": 0.0,
            "distribution": {
                "implements": "core.exponential",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "ExponentialDistribution",
                "unique": false,
                "parameters": {
                    "rate": 0.03052908440177665
                }
            }
        },
        {
            "name": "Cabin",
            "type": "string",
            "dtype": "String",
            "prop_missing": 0.7710437710437711,
            "distribution": {
                "implements": "core.regex",
                "version": "2.0",
                "provenance": "builtin",
                "class_name": "RegexDistribution",
                "unique": false,
                "parameters": {
                    "regex_data": {
                        "regex": "[A-G][0-9 ]{1,3}(|[B-C][0-9]{2}(| [B-C][0-9]{2})|[A-Z][0-9]{2})",
                        "counts": [
                            198,
                            198,
                            [
                                [
                                    176
                                ],
                                [
                                    17,
                                    17,
                                    [
                                        [
                                            11
                                        ],
                                        [
                                            6,
                                            6,
                                            6,
                                            6
                                        ]
                                    ],
                                    0
                                ],
                                [
                                    5,
                                    5,
                                    5
                                ]
                            ],
                            0
                        ]
                    }
                }
            }
        },
        {
            "name": "Embarked",
            "type": "categorical",
            "dtype": "Categorical(ordering='physical')",
            "prop_missing": 0.002244668911335578,
            "distribution": {
                "implements": "core.multinoulli",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "MultinoulliDistribution",
                "unique": false,
                "parameters": {
                    "labels": [
                        "C",
                        "Q",
                        "S"
                    ],
                    "probs": [
                        0.1889763779527559,
                        0.08661417322834646,
                        0.7244094488188977
                    ]
                }
            }
        },
        {
            "name": "Birthday",
            "type": "date",
            "dtype": "Date",
            "prop_missing": 0.08754208754208755,
            "distribution": {
                "implements": "core.uniform",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "DateUniformDistribution",
                "unique": false,
                "parameters": {
                    "lower": "1903-07-28",
                    "upper": "1940-05-27"
                }
            }
        },
        {
            "name": "Board time",
            "type": "time",
            "dtype": "Time",
            "prop_missing": 0.08866442199775533,
            "distribution": {
                "implements": "core.uniform",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "TimeUniformDistribution",
                "unique": false,
                "parameters": {
                    "lower": "10:39:40",
                    "upper": "18:39:28",
                    "precision": "seconds"
                }
            }
        },
        {
            "name": "Married since",
            "type": "datetime",
            "dtype": "Datetime(time_unit='us', time_zone=None)",
            "prop_missing": 0.10325476992143659,
            "distribution": {
                "implements": "core.uniform",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "DateTimeUniformDistribution",
                "unique": false,
                "parameters": {
                    "lower": "2022-07-15T12:21:15",
                    "upper": "2022-08-15T10:32:05",
                    "precision": "seconds"
                }
            }
        },
        {
            "name": "all_NA",
            "type": "string",
            "dtype": "String",
            "prop_missing": 1.0,
            "distribution": {
                "implements": "core.na",
                "version": "1.0",
                "provenance": "builtin",
                "class_name": "NADistribution",
                "unique": false,
                "parameters": {}
            }
        }
    ]
}

A GMF file can be imported and loaded into a MetaFrame using the `MetaFrame.from_json()` class method, passing in the file path as a parameter.

In [10]:
# Create a MetaFrame based on a GMF (.json) file
mf = MetaFrame.from_json(file_path)

## Step 4: Generating synthetic data

Once a MetaFrame is loaded, synthetic data can be generated from it. We can do so by using the the `synthesize` method of the MetaFrame, passing in how many rows the generated data should contain as a parameter. This returns a DataFrame with the synthetic data.

More information on generating synthetic data based on MetaFrames can be found on the metasyn docs, [here](https://metasynth.readthedocs.io/en/latest/usage/generating_synthetic_data.html).

In [11]:
# generate synthetic data
syn_df = mf.synthesize(5)

We can now view the synthetic data:

In [12]:
syn_df

shape: (5, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 556         ┆ No.          ┆ male   ┆ 19   ┆ … ┆ 1939-10-16 ┆ 16:02:17   ┆ null         ┆ null   │
│             ┆ Professor.   ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│             ┆ Open. Black. ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│             ┆ Buil…        ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 361         ┆ Writer.      ┆ female ┆ null ┆ … ┆ 1926-06-24 ┆ 14:56:12   ┆ 2022-07-19   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 22:53:27     ┆        │
│ 685         ┆ Condition.   ┆ male   ┆ 30   ┆ … ┆ 1913-11-26 ┆ 18:34:43   ┆ 2022-08-01   ┆ null   │
│             ┆ Accept.      ┆        ┆      ┆   ┆            ┆            ┆ 21:52:48     ┆        │
│ 725         ┆ Water.       ┆ male   ┆ 40   ┆ … ┆ 1911-10-06 ┆ 12:51:42   ┆ 2022-07-27   ┆ null   │
│             ┆ Identify.    ┆        ┆      ┆   ┆            ┆            ┆ 23:05:31     ┆        │
│             ┆ Still.       ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│             ┆ Father. …    ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 317         ┆ Before news. ┆ male   ┆ 46   ┆ … ┆ 1939-08-14 ┆ 17:13:38   ┆ 2022-07-20   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 19:03:40     ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

As you can see, the synthetic data looks a lot like the real data! However, it could still use some improvement. In the next sections, we will explore manual changes we can make to improve the quality of the synthetic data.

## Step 5: Improving the quality of the synthetic data

The `MetaFrame.fit_dataframe()` method allows you to have more control over how your synthetic dataset is generated by passing in an optional `spec` (short for specification) parameter. `spec` is a dictionary that can be used to give metasyn instructions on a per-variable basis, these instructions can range from setting a variable to be unique, to directly setting its distribution.

### Spec: Setting variables to have unique variables

During the MetaFrame generation at the start (using `MetaFrame.fit_dataframe()`), metaframe detected a column (PassengerId) as possibly unique, as indicated by the following warning:

> *"Variable PassengerId seems unique, but not set to be unique."*

This is because this column holds a unique identifier for each passenger, which is in fact unique to each passenger. As such, we want the synthetic data generated for this column to be unique as well. 

In order to set a variable to be unique, we can add a `unique` key to the specification dictionary of the variable, and set it to `True`. We can do it for the `PassengerId` column as follows:

In [13]:
# First, we create a specification dictionary for the variables
var_specs = [
    VarSpec("PassengerId", unique=True)
]

# then, we add that dictionary as the `spec` argument
mf = MetaFrame.fit_dataframe(df, var_specs=var_specs)

# then, let's check what the metadata about PassengerId contains!
mf["PassengerId"].to_dict()

  0%|          | 0/13 [00:00<?, ?it/s]

100%|██████████| 13/13 [00:01<00:00,  8.55it/s]

{'name': 'PassengerId',
 'type': 'discrete',
 'dtype': 'Int64',
 'prop_missing': 0.0,
 'distribution': {'implements': 'core.unique_key',
  'version': '1.0',
  'provenance': 'builtin',
  'class_name': 'UniqueKeyDistribution',
  'unique': True,
  'parameters': {'lower': 1, 'consecutive': True}}}

So let's check what is generated from this new MetaFrame:

In [14]:
mf.synthesize(5)

shape: (5, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Art type.    ┆ male   ┆ 55   ┆ … ┆ 1906-06-25 ┆ 12:48:10   ┆ 2022-08-10   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 14:43:26     ┆        │
│ 2           ┆ Region.      ┆ male   ┆ null ┆ … ┆ 1939-10-29 ┆ null       ┆ 2022-08-13   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 01:06:39     ┆        │
│ 3           ┆ Street       ┆ male   ┆ 31   ┆ … ┆ 1925-06-22 ┆ 17:55:09   ┆ 2022-07-29   ┆ null   │
│             ┆ million      ┆        ┆      ┆   ┆            ┆            ┆ 12:36:18     ┆        │
│             ┆ foot. Tv     ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│             ┆ word rec…    ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 4           ┆ Hair. Add.   ┆ male   ┆ 13   ┆ … ┆ 1937-01-16 ┆ 14:20:12   ┆ 2022-07-20   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 21:05:03     ┆        │
│ 5           ┆ Enter        ┆ female ┆ 34   ┆ … ┆ 1937-04-09 ┆ 12:48:26   ┆ 2022-07-30   ┆ null   │
│             ┆ performance  ┆        ┆      ┆   ┆            ┆            ┆ 05:30:37     ┆        │
│             ┆ glass. Truth ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│             ┆ h…           ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

As you can see, the `PassengerId` column is now unique!

### Spec: Fake names (and other Faker data types)

Currently, the `Name` of the passengers is not quite so well synthesized. The reason is that the string type interpreter in metasyn is designed for `structured` strings (like room numbers such as `B1.09`, `B1.01` or `A1.08`) and not unstructured strings. However, metasyn supports the [faker](https://faker.readthedocs.io/en/master/index.html) package, which includes a lot of data types that it can fake. The columns using faker are not based on the real data at all so they do not disclose any info about the real data.

We can specify metasyn to use Faker names for the `Name` column as follows:

In [15]:
# First, we create a specification dictionary for the variables
from metasyn.distribution import FakerDistribution

var_specs = [
    VarSpec("PassengerId", unique=True),
    VarSpec("Name", distribution=FakerDistribution("name")),
]

mf = MetaFrame.fit_dataframe(df, var_specs=var_specs)
mf.synthesize(5)

  0%|          | 0/13 [00:00<?, ?it/s]

100%|██████████| 13/13 [00:00<00:00, 15.39it/s]

shape: (5, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Elizabeth    ┆ female ┆ null ┆ … ┆ 1914-03-29 ┆ null       ┆ 2022-07-24   ┆ null   │
│             ┆ Sharp        ┆        ┆      ┆   ┆            ┆            ┆ 05:25:21     ┆        │
│ 2           ┆ Charles      ┆ female ┆ 30   ┆ … ┆ null       ┆ 16:22:06   ┆ 2022-07-25   ┆ null   │
│             ┆ Johnson      ┆        ┆      ┆   ┆            ┆            ┆ 16:04:20     ┆        │
│ 3           ┆ Joel Morris  ┆ male   ┆ 21   ┆ … ┆ 1924-06-23 ┆ 13:39:40   ┆ 2022-07-31   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 21:44:26     ┆        │
│ 4           ┆ Christopher  ┆ male   ┆ 49   ┆ … ┆ null       ┆ 13:27:56   ┆ 2022-07-29   ┆ null   │
│             ┆ Lamb         ┆        ┆      ┆   ┆            ┆            ┆ 12:47:16     ┆        │
│ 5           ┆ Gary         ┆ female ┆ 26   ┆ … ┆ 1939-06-02 ┆ null       ┆ 2022-07-19   ┆ null   │
│             ┆ Anderson     ┆        ┆      ┆   ┆            ┆            ┆ 04:31:32     ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

That already looks a lot better for the `Name` column!

### Spec: Setting distributions manually

Without user input, the distribution chosen for each variable is inferred by choosing the distribution with the best fit from all available distributions for the variable type. However, we can also manually specify which distribution to fit, or simply specify the distribution including the parameters for the variable.

In [16]:
from metasyn.distribution import DiscreteUniformDistribution

var_specs = [
    VarSpec("PassengerId", unique=True),
    VarSpec("Name", distribution=FakerDistribution("name")),
    VarSpec("Fare", distribution="lognormal"), # estimate / fit an exponential distribution based on the data
    VarSpec("Age", distribution=DiscreteUniformDistribution(20, 40)) # fully specify a distribution for age (uniform between 20 and 40)
]

mf = MetaFrame.fit_dataframe(df, var_specs=var_specs)
mf.synthesize(5)

  0%|          | 0/13 [00:00<?, ?it/s]

100%|██████████| 13/13 [00:00<00:00, 18.73it/s]

shape: (5, 13)
┌─────────────┬───────────────┬────────┬─────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name          ┆ Sex    ┆ Age ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---           ┆ ---    ┆ --- ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str           ┆ cat    ┆ i64 ┆   ┆ date       ┆ time       ┆ ---          ┆ null   │
│             ┆               ┆        ┆     ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪═══════════════╪════════╪═════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Douglas       ┆ female ┆ 39  ┆ … ┆ 1922-07-19 ┆ 12:56:27   ┆ 2022-08-15   ┆ null   │
│             ┆ Campbell      ┆        ┆     ┆   ┆            ┆            ┆ 09:11:30     ┆        │
│ 2           ┆ Richard Smith ┆ female ┆ 33  ┆ … ┆ 1919-01-06 ┆ 17:07:51   ┆ 2022-08-05   ┆ null   │
│             ┆               ┆        ┆     ┆   ┆            ┆            ┆ 14:44:10     ┆        │
│ 3           ┆ Cody Decker   ┆ male   ┆ 35  ┆ … ┆ 1918-08-17 ┆ 17:53:13   ┆ 2022-08-09   ┆ null   │
│             ┆               ┆        ┆     ┆   ┆            ┆            ┆ 01:14:30     ┆        │
│ 4           ┆ Kevin         ┆ male   ┆ 34  ┆ … ┆ 1939-07-15 ┆ 16:06:26   ┆ 2022-08-04   ┆ null   │
│             ┆ Williams      ┆        ┆     ┆   ┆            ┆            ┆ 13:08:57     ┆        │
│ 5           ┆ Joseph Rhodes ┆ female ┆ 32  ┆ … ┆ 1933-11-28 ┆ 11:31:23   ┆ 2022-08-08   ┆ null   │
│             ┆               ┆        ┆     ┆   ┆            ┆            ┆ 11:29:43     ┆        │
└─────────────┴───────────────┴────────┴─────┴───┴────────────┴────────────┴──────────────┴────────┘

### Spec: Specifying the distribution of structured strings

For more or less structured strings, we can manually set the structure of the strings based on regular expressions. For example, we see that most Cabins are structured like [A-F] and then 2 or 3 digit numbers. We can include this as follows:

In [17]:
from metasyn.distribution import RegexDistribution

# To create a regex distribution, you need a list of tuples, where each tuple is an element.
# The first part of the tuple is a string representation of the regex, while the second is the proportion of the
# time the regex element is used.
cabin_distribution = RegexDistribution(r"[A-F][0-9]{2,3}")  # Add the r so that it becomes a literal string.
# just for completeness: data generated from this distribution will always match the regex [A-F]?(\d{2,3})?


var_specs = [
    VarSpec("PassengerId", unique=True),
    VarSpec("Name", distribution=FakerDistribution("name")),
    VarSpec("Fare", distribution="lognormal"), # estimate / fit an exponential distribution based on the data
    VarSpec("Age", distribution=DiscreteUniformDistribution(20, 40)), # fully specify a distribution for age (uniform between 20 and 40)
    VarSpec("Cabin", distribution=cabin_distribution),  # Use our previously defined distribution
]

mf = MetaFrame.fit_dataframe(df, var_specs=var_specs)
mf.synthesize(10)

  0%|          | 0/13 [00:00<?, ?it/s]

100%|██████████| 13/13 [00:00<00:00, 22.62it/s]

shape: (10, 13)
┌─────────────┬──────────────┬────────┬──────┬───┬────────────┬────────────┬──────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ … ┆ Birthday   ┆ Board time ┆ Married      ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆   ┆ ---        ┆ ---        ┆ since        ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆   ┆ date       ┆ time       ┆ ---          ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ datetime[μs] ┆        │
╞═════════════╪══════════════╪════════╪══════╪═══╪════════════╪════════════╪══════════════╪════════╡
│ 1           ┆ Alicia       ┆ male   ┆ null ┆ … ┆ 1905-04-18 ┆ 15:21:04   ┆ 2022-08-13   ┆ null   │
│             ┆ Zuniga       ┆        ┆      ┆   ┆            ┆            ┆ 22:56:40     ┆        │
│ 2           ┆ Julie        ┆ male   ┆ 34   ┆ … ┆ 1926-05-05 ┆ 16:24:45   ┆ null         ┆ null   │
│             ┆ Roberts      ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 3           ┆ Rebekah      ┆ male   ┆ 24   ┆ … ┆ null       ┆ 15:45:54   ┆ null         ┆ null   │
│             ┆ Copeland     ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 4           ┆ Jeffrey      ┆ male   ┆ 21   ┆ … ┆ 1932-04-04 ┆ 17:21:49   ┆ null         ┆ null   │
│             ┆ Gardner      ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
│ 5           ┆ Heather Ward ┆ female ┆ null ┆ … ┆ 1922-12-05 ┆ 14:57:29   ┆ 2022-07-27   ┆ null   │
│             ┆              ┆        ┆      ┆   ┆            ┆            ┆ 01:17:00     ┆        │
│ 6           ┆ Gwendolyn    ┆ female ┆ 33   ┆ … ┆ 1927-08-21 ┆ 12:08:05   ┆ 2022-07-26   ┆ null   │
│             ┆ Randall      ┆        ┆      ┆   ┆            ┆            ┆ 07:56:55     ┆        │
│ 7           ┆ Donna        ┆ male   ┆ null ┆ … ┆ 1928-07-10 ┆ null       ┆ 2022-08-09   ┆ null   │
│             ┆ Crawford     ┆        ┆      ┆   ┆            ┆            ┆ 20:23:45     ┆        │
│ 8           ┆ Tamara       ┆ female ┆ 30   ┆ … ┆ 1922-11-19 ┆ 16:28:20   ┆ 2022-07-31   ┆ null   │
│             ┆ Contreras    ┆        ┆      ┆   ┆            ┆            ┆ 22:53:26     ┆        │
│ 9           ┆ Stephanie    ┆ male   ┆ 38   ┆ … ┆ 1914-02-21 ┆ 16:43:33   ┆ 2022-08-12   ┆ null   │
│             ┆ Griffin MD   ┆        ┆      ┆   ┆            ┆            ┆ 21:28:24     ┆        │
│ 10          ┆ Krystal      ┆ female ┆ null ┆ … ┆ 1933-11-13 ┆ 16:46:48   ┆ null         ┆ null   │
│             ┆ Kelly        ┆        ┆      ┆   ┆            ┆            ┆              ┆        │
└─────────────┴──────────────┴────────┴──────┴───┴────────────┴────────────┴──────────────┴────────┘

## Step 6: Comparing the final synthetic dataset to the original

Let's first compare the averages of the numerical columns:

In [18]:
df.mean()

shape: (1, 13)
┌─────────────┬──────┬──────┬───────────┬───┬──────────┬────────────┬─────────────────┬────────┐
│ PassengerId ┆ Name ┆ Sex  ┆ Age       ┆ … ┆ Birthday ┆ Board time ┆ Married since   ┆ all_NA │
│ ---         ┆ ---  ┆ ---  ┆ ---       ┆   ┆ ---      ┆ ---        ┆ ---             ┆ ---    │
│ f64         ┆ str  ┆ cat  ┆ f64       ┆   ┆ date     ┆ time       ┆ datetime[μs]    ┆ str    │
╞═════════════╪══════╪══════╪═══════════╪═══╪══════════╪════════════╪═════════════════╪════════╡
│ 446.0       ┆ null ┆ null ┆ 29.693277 ┆ … ┆ null     ┆ null       ┆ 2022-07-31      ┆ null   │
│             ┆      ┆      ┆           ┆   ┆          ┆            ┆ 03:43:48.767209 ┆        │
└─────────────┴──────┴──────┴───────────┴───┴──────────┴────────────┴─────────────────┴────────┘

In [19]:
mf.synthesize(len(df)).mean()

shape: (1, 13)
┌─────────────┬──────┬──────┬───────────┬───┬──────────┬────────────┬─────────────────┬────────┐
│ PassengerId ┆ Name ┆ Sex  ┆ Age       ┆ … ┆ Birthday ┆ Board time ┆ Married since   ┆ all_NA │
│ ---         ┆ ---  ┆ ---  ┆ ---       ┆   ┆ ---      ┆ ---        ┆ ---             ┆ ---    │
│ f64         ┆ str  ┆ cat  ┆ f64       ┆   ┆ date     ┆ time       ┆ datetime[μs]    ┆ null   │
╞═════════════╪══════╪══════╪═══════════╪═══╪══════════╪════════════╪═════════════════╪════════╡
│ 446.0       ┆ null ┆ null ┆ 29.353521 ┆ … ┆ null     ┆ null       ┆ 2022-07-30      ┆ null   │
│             ┆      ┆      ┆           ┆   ┆          ┆            ┆ 16:27:19.689393 ┆        │
└─────────────┴──────┴──────┴───────────┴───┴──────────┴────────────┴─────────────────┴────────┘

Then, we can also see how many missing values are in each column

In [20]:
df.null_count()

shape: (1, 13)
┌─────────────┬──────┬─────┬─────┬───┬──────────┬────────────┬───────────────┬────────┐
│ PassengerId ┆ Name ┆ Sex ┆ Age ┆ … ┆ Birthday ┆ Board time ┆ Married since ┆ all_NA │
│ ---         ┆ ---  ┆ --- ┆ --- ┆   ┆ ---      ┆ ---        ┆ ---           ┆ ---    │
│ u32         ┆ u32  ┆ u32 ┆ u32 ┆   ┆ u32      ┆ u32        ┆ u32           ┆ u32    │
╞═════════════╪══════╪═════╪═════╪═══╪══════════╪════════════╪═══════════════╪════════╡
│ 0           ┆ 0    ┆ 0   ┆ 177 ┆ … ┆ 78       ┆ 79         ┆ 92            ┆ 891    │
└─────────────┴──────┴─────┴─────┴───┴──────────┴────────────┴───────────────┴────────┘

In [21]:
mf.synthesize(len(df)).null_count()

shape: (1, 13)
┌─────────────┬──────┬─────┬─────┬───┬──────────┬────────────┬───────────────┬────────┐
│ PassengerId ┆ Name ┆ Sex ┆ Age ┆ … ┆ Birthday ┆ Board time ┆ Married since ┆ all_NA │
│ ---         ┆ ---  ┆ --- ┆ --- ┆   ┆ ---      ┆ ---        ┆ ---           ┆ ---    │
│ u32         ┆ u32  ┆ u32 ┆ u32 ┆   ┆ u32      ┆ u32        ┆ u32           ┆ u32    │
╞═════════════╪══════╪═════╪═════╪═══╪══════════╪════════════╪═══════════════╪════════╡
│ 0           ┆ 0    ┆ 0   ┆ 171 ┆ … ┆ 74       ┆ 71         ┆ 96            ┆ 891    │
└─────────────┴──────┴─────┴─────┴───┴──────────┴────────────┴───────────────┴────────┘

## Step 7: Adding descriptions to variables

With the data being taken care of, we can still do one last thing. We can add descriptions to the variables, to clarify what they mean. This can be particularly useful when sharing the `MetaFrame` or generated data with others, as it gives them more context to what they're working with.

One way of adding a description to a variable, is by setting it in the `spec` dictionary, this can be done by simply adding a `description` key with the description as a value. For example, adding a description to the `Cabin` column can be done as follows:

In [22]:
var_specs = [
    # Ensure unique values for the `PassengerId` column
    VarSpec("PassengerId", unique=True),

    # Utilize the Faker library to synthesize realistic names for the `Name` column
    VarSpec("Name", distribution=FakerDistribution("name")),

    # Fit `Fare` to an log-normal distribution, but base the parameters on the data
    VarSpec("Fare", distribution="lognormal"), # estimate / fit an exponential distribution based on the data

    # Set the `Age` column to a discrete uniform distribution ranging from 20 to 40
    VarSpec("Age", distribution=DiscreteUniformDistribution(20, 40)), # fully specify a distribution for age (uniform between 20 and 40)

    # Use a regex-based distribution to generate `Cabin` values following [A-F][0-9]{2,3}
    VarSpec("Cabin", distribution=cabin_distribution, description="The cabin number of the passenger."),  # Use our previously defined distribution
]

mf = MetaFrame.fit_dataframe(df, var_specs=var_specs)

  0%|          | 0/13 [00:00<?, ?it/s]

100%|██████████| 13/13 [00:00<00:00, 22.52it/s]

We can get a list of all the descriptions in the fitted `MetaFrame` by accessing its `descriptions` property, as follows:

In [23]:
print(mf.descriptions)

{'Cabin': 'The cabin number of the passenger.'}

Instead of setting the description in the variable specification (which happens before fitting a `MetaFrame` to a `DataFrame`), we can assign a description to an already generated `MetaFrame` by directly setting a column's description attribute. For example, we can assign a description to the `PassengerId` column as follows:

In [24]:
mf["PassengerId"].description = "The ID of each passenger, as assigned by Pandas."

print(mf.descriptions)

{'PassengerId': 'The ID of each passenger, as assigned by Pandas.', 'Cabin': 'The cabin number of the passenger.'}

We can also set multiple descriptions of an already generated `MetaFrame` at once by passing in a dictionary of descriptions to its `descriptions` property. For example, we can set descriptions for the `Age` and `Name` columns as follows:

In [25]:
mf.descriptions = {"Name": "Name of the passenger", "Age": "Age of the passenger in years"}

print(mf.descriptions)

{'PassengerId': 'The ID of each passenger, as assigned by Pandas.', 'Name': 'Name of the passenger', 'Age': 'Age of the passenger in years', 'Cabin': 'The cabin number of the passenger.'}

Instead of a dictionary, it is also possible to pass in a list of descriptions to the `descriptions` property of a `MetaFrame`. 

This can only be done if the list has the same length as the number of variables. In other words, each description must be passed in. 

This can be useful for example when generating placeholder descriptions automatically through list comprehension, as is done in the following example:

In [26]:
mf.descriptions = [f"Placeholder description for {var.name}" for var in mf.meta_vars]

print(mf.descriptions)

{'PassengerId': 'Placeholder description for PassengerId', 'Name': 'Placeholder description for Name', 'Sex': 'Placeholder description for Sex', 'Age': 'Placeholder description for Age', 'Parch': 'Placeholder description for Parch', 'Ticket': 'Placeholder description for Ticket', 'Fare': 'Placeholder description for Fare', 'Cabin': 'Placeholder description for Cabin', 'Embarked': 'Placeholder description for Embarked', 'Birthday': 'Placeholder description for Birthday', 'Board time': 'Placeholder description for Board time', 'Married since': 'Placeholder description for Married since', 'all_NA': 'Placeholder description for all_NA'}

## The end

That's it for this tutorial! You should now have a good understanding of how to use metasyn to generate synthetic data from a dataset. If you want to learn more, check out the [metasyn docs](https://metasynth.readthedocs.io/en/latest/).

If you have any questions, feel free to [reach out](https://metasynth.readthedocs.io/en/latest/about/contact.html).