In [1]:
import pandas as pd
from metasynth import MetaDataset
import wget
from pathlib import Path
import json

In [2]:
dtypes = {
    "Survived": "category",
    "Pclass": "category",
    "Name": "string",
    "Sex": "category",
    "SibSp": "category",
    "Parch": "category",
    "Ticket": "string",
    "Cabin": "string",
    "Embarked": "category"
}

In [3]:
titanic_fp = Path("titanic.csv")
if not titanic_fp.is_file():
    wget.download("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv")

In [4]:
df = pd.read_csv(titanic_fp, dtype=dtypes)

In [11]:
dataset = MetaDataset.from_dataframe(df)

In [14]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,<NA>,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,<NA>,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,<NA>,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,<NA>,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,<NA>,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,<NA>,Q

In [20]:
dataset.synthesize(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"IktjoioumhlzELMqw,MLnvwrjotzvw.xekb""KCrojgxg.S...",male,42.174449,0,0,4 22081A455.698i8P96R0268IS32155,24.157901,<NA>,S
1,2,0,3,"BvblbreyfxefeRLowjekytyau,CBsx)N(ahmFj""KmmmtCv...",female,22.904131,0,0,05061441191OQ5C0391171i617.2779877 33 N3526,125.870103,<NA>,S
2,3,0,1,hwbiny-eClykky Mhlwwp udwjucuv(Eneok Fjtvfgq)q...,female,23.138615,0,1,4320 P65840C6860592I5459845466 2924O,128.306158,L882 66 45B66,S
3,4,1,3,"ospqdpbpjv'DPw,CQwkkkudzmnjkwoi(Fceiytnnzo)bh)...",male,49.779879,0,3,9395PR.S59769C95P59707.53741RlS 1966,4.217885,Z650 Y35 B66,Q
4,5,0,3,"scssqdwienevNHKcrar MR,V(KZrjd)Xcbcmpmp Bjbkol...",male,8.297160,0,0,3136S9563H59176P9107B962AT9I2 46041,12.501311,<NA>,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,1,"QspjdMWwn MJyydlvmcg,fh DQvnno)Yp(Qvtnvr(Rm Zt...",female,26.885781,0,1,1324089M.. .105525P03 I22,3.720320,<NA>,S
96,97,0,2,"tgboKC, dz(Grqihdyt ADz(Wzhihu""Qc""ryxyxugau )H...",female,61.407060,0,0,746709LEDa17Ca89R7i91S876T3186l22487,60.261826,<NA>,Q
97,98,1,1,guvbdtnqir-Yq.Cpqzdfbclab/kbtfzjfr YQnw djrnQt...,female,54.223938,3,0,94952P96428C983IA223s846ON334,18.662706,Q65Z29 CB6,S
98,99,0,3,mhihitddjkEYxerlvtoao.MHxcfazdh YsxxkRvdb)FhWf...,male,24.197717,0,0,44382FH418.HR89475A28373s26098 742I,21.678055,<NA>,S
99,100,0,3,"PiiKajw.CmombpqzbbdCtthkkqEQzpfxibgoav(""qxhkpr...",male,11.492671,1,0,PXD.3CP58859r5IP89s4355 e36,11.841890,<NA>,S

In [21]:
dataset.to_json("test.json")

In [22]:
print(MetaDataset.from_json("test.json"))

# Rows: 891
# Columns: 12

{'name': 'PassengerId', 'type': 'IntVar', 'dtype': 'int64', 'prop_missing': 0.0, 'distribution': "{'name': 'UniqueKeyDistribution', 'parameters': {'low': 1, 'consecutive': 1}}"}

{'name': 'Survived', 'type': 'CategoricalVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'cat_freq': {'0': 549, '1': 342}}}"}

{'name': 'Pclass', 'type': 'CategoricalVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'cat_freq': {'1': 216, '2': 184, '3': 491}}}"}

{'name': 'Name', 'type': 'StringVar', 'dtype': 'string', 'prop_missing': 0.0, 'distribution': '[A-Z]{0,1}[a-z]{0,12}[CD ,\'RKGEM-N][CHPGVIDoWvLdeJFBM SaYy][A-Z]{0,1}[a-z]{0,10}[ ,.][CM h][A-Z]{0,1}[a-z]{0,10}[ ,(/.][A-Z]{0,1}[a-z]{0,10}[ )"(][A-Z]{0,2}[a-z]{0,10}[ )"(.][A-Z]{0,1}[a-z]{0,10}[ )L"(.][A-Z]{0,1}[a-z]{0,10}[ )"(][A-Z]{0,1}[a-z]{0,9}[ )"M][A-Z]{0,1}[a-z]{0,12}[ )"][A-Z]{0,1}[a-z]{0,7}[ )"(-][A-Z]{0,1}[a-z]{0,7}[ )"][M)J][or][s][ e][Mf][oa][ r][gP][ea][rn]["e][)z][ ][d][e][ ][S][o][t][o][ ][y][ ][V][a][l][l][e][j][o][)]'}

{'name': 'Sex', 'type': 'CategoricalVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'cat_freq': {'female': 314, 'male': 577}}}"}

{'name': 'Age', 'type': 'FloatVar', 'dtype': 'float64', 'prop_missing': 0.19865319865319866, 'distribution': "{'name': 'TruncatedNormalDistribution', 'parameters': {'lower_bound': 0.41999999, 'upper_bound': 80.00000001, 'mu': 28.286441105482094, 'sigma': 15.964614689648158}}"}

{'name': 'SibSp', 'type': 'CategoricalVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'cat_freq': {'0': 608, '1': 209, '2': 28, '3': 16, '4': 18, '5': 5, '8': 7}}}"}

{'name': 'Parch', 'type': 'CategoricalVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'cat_freq': {'0': 678, '1': 118, '2': 80, '3': 5, '4': 4, '5': 5, '6': 1}}}"}

{'name': 'Ticket', 'type': 'StringVar', 'dtype': 'string', 'prop_missing': 0.0, 'distribution': '\\d{0,7}[A-Z]{0,5}[ /a4.]\\d{0,5}[A PCSE/WO.][C APHQ423a5.]\\d{0,5}[C PQR/r.]\\d{0,7}[A PSiBI.]\\d{0,7}[A PSsaO.]\\d{0,7}[ PRsT.]\\d{0,4}[ OlI.][ Se2N][ 37]\\d{0,5}'}

{'name': 'Fare', 'type': 'FloatVar', 'dtype': 'float64', 'prop_missing': 0.0, 'distribution': "{'name': 'TruncatedNormalDistribution', 'parameters': {'lower_bound': -1e-08, 'upper_bound': 512.32920001, 'mu': -4110.076371666858, 'sigma': 368.72515376625773}}"}

{'name': 'Cabin', 'type': 'StringVar', 'dtype': 'string', 'prop_missing': 0.7710437710437711, 'distribution': '[A-Z]{1,1}\\d{0,3}[ ][A-Z]{0,1}\\d{0,2}[ ][BC]\\d{0,2}[ ][B][6][6]'}

{'name': 'Embarked', 'type': 'CategoricalVar', 'dtype': 'category', 'prop_missing': 0.002244668911335578, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'cat_freq': {'C': 168, 'Q': 77, 'S': 644}}}"}