# Introduction to MetaSynth with the titanic dataset

For this demonstration, we will use the raw Titanic dataset from pandas.

### Import relevant packages

In [1]:
import json
from pathlib import Path

import pandas as pd
import wget

from metasynth import MetaDataset

### Set the path to the dataset and download it

In [3]:
titanic_fp = Path("titanic.csv")
if not titanic_fp.is_file():
    wget.download("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv")

### Define pandas types for use during the creation of the DataFrame

For categories, we need to explicitly tell pandas while reading the CSV file.

In [ ]:
dtypes = {
    "Survived": "category",
    "Pclass": "category",
    "Name": "string",
    "Sex": "category",
    "SibSp": "category",
    "Parch": "category",
    "Ticket": "string",
    "Cabin": "string",
    "Embarked": "category"
}

### Read CSV file

In [4]:
df = pd.read_csv(titanic_fp, dtype=dtypes)

### Create MetaSynth dataset object

This object contains a list of all the variables/columns. These variables are fitted to have a distribution that fits the best to the original data.

In [5]:
dataset = MetaDataset.from_dataframe(df)

### Original DataFrame

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,<NA>,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,<NA>,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,<NA>,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,<NA>,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,<NA>,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,<NA>,Q

### Synthesized DataFrame

In [7]:
dataset.synthesize(1000)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,2,]$r*L}g. X6Yf)% '\(AJ}m,male,22.772137,0,0,48,10.287155,<NA>,S
1,2,0,3,"=<9""kyescJ28J5u$yGzb""^Vi7+FW ^ml]`|?q2cj\g_kNZ...",male,9.138044,1,0,244766,5.250338,64pX,S
2,3,0,2,"nLvErPy!K=3eBdBI/!FaTb,x4vx'L< &IU5I[/3aI5]C`~...",female,20.651410,0,0,a 17,39.835445,i,S
3,4,0,3,"$A<; {Um7neAz(@20 kz8N ""m>1^|\!EJ0j7r5O)",female,26.335319,1,1,C3,24.439667,<NA>,C
4,5,0,1,"L &>vOC{ey9""[Rmva8TmyvwSSU-JJu4x3{RaGT4A )9: v...",female,38.702500,2,0,L70118,4.737911,U,S
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0,3,"$u$52L>soO|uCIaK,m9|E#@/bOi *2vl>C[-Fm]Q$m2!t@wN)",female,36.759753,0,0,/21720,105.741836,<NA>,C
996,997,0,3,",})rgpJDt$*-DLJS^S%f#s{L",female,17.994948,0,0,CfSN/ 1036,1.735314,<NA>,C
997,998,0,3,ryS8rdrL]; /V>UU~u$_Ljn&<(m.^h,male,NaN,0,2,o61169,7.972686,<NA>,S
998,999,0,3,-8$cX|KVe<w7eNmjs`rtS-wrg8nw4qo91Re[;SMd ]Btuf,female,28.545368,0,0,N/5021,9.174104,<NA>,Q
999,1000,1,2,kv s% 2y%I`)7*_%ouF&w5g\{tb,female,22.231211,0,0,AIsIo962,33.739407,K1,S

### Write the dataset to a meta-data file

This file can be retrieved later to produce the synthetic data, so instead of sharing the synthetic data, one could share this file instead to provide the most amount of statistical information.

In [8]:
dataset.to_json("test.json", validate=True)

### Print the contents of the dataset that gets loaded from a MetaSynth file.

In [9]:
print(MetaDataset.from_json("test.json"))

# Rows: 891
# Columns: 12

{'name': 'PassengerId', 'type': 'MetaVar', 'dtype': 'int64', 'prop_missing': 0.0, 'distribution': "{'name': 'UniqueKeyDistribution', 'parameters': {'low': 1, 'consecutive': 1}}"}

{'name': 'Survived', 'type': 'MetaVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'categories': ['0', '1'], 'counts': [549, 342]}}"}

{'name': 'Pclass', 'type': 'MetaVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'categories': ['1', '2', '3'], 'counts': [216, 184, 491]}}"}

{'name': 'Name', 'type': 'MetaVar', 'dtype': 'string', 'prop_missing': 0.0, 'distribution': '[AV].[]{1,12}[.][" ers].[]{7,68}[)][ ]'}

{'name': 'Sex', 'type': 'MetaVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'categories': ['female', 'male'], 'counts': [314, 577]}}"}

{'name': 'Age', 'type': 'MetaVar', 'dtype': 'float64', 'prop_missing': 0.19865319865319866, 'distribution': "{'name': 'TruncatedNormalDistribution', 'parameters': {'lower_bound': 0.41999999, 'upper_bound': 80.00000001, 'mu': 28.286441105482094, 'sigma': 15.964614689648158}}"}

{'name': 'SibSp', 'type': 'MetaVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'categories': ['0', '1', '2', '3', '4', '5', '8'], 'counts': [608, 209, 28, 16, 18, 5, 7]}}"}

{'name': 'Parch', 'type': 'MetaVar', 'dtype': 'category', 'prop_missing': 0.0, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'categories': ['0', '1', '2', '3', '4', '5', '6'], 'counts': [678, 118, 80, 5, 4, 5, 1]}}"}

{'name': 'Ticket', 'type': 'MetaVar', 'dtype': 'string', 'prop_missing': 0.0, 'distribution': '[SC].[]{1,3}[N][/][A-Z]{1,5}[. ][A25QOC4EB][.a][r][C][a-zA-Z]{1,3}[.542][ ]\\d{1,7}'}

{'name': 'Fare', 'type': 'MetaVar', 'dtype': 'float64', 'prop_missing': 0.0, 'distribution': "{'name': 'TruncatedNormalDistribution', 'parameters': {'lower_bound': -1e-08, 'upper_bound': 512.32920001, 'mu': -4110.076371666858, 'sigma': 368.72515376625773}}"}

{'name': 'Cabin', 'type': 'MetaVar', 'dtype': 'string', 'prop_missing': 0.7710437710437711, 'distribution': '[BCFD]\\d{2,2}[C ][C][B]\\d{2,2}[ ][B].[]{1,6}'}

{'name': 'Embarked', 'type': 'MetaVar', 'dtype': 'category', 'prop_missing': 0.002244668911335578, 'distribution': "{'name': 'CatFreqDistribution', 'parameters': {'categories': ['C', 'Q', 'S'], 'counts': [168, 77, 644]}}"}

### Raw contents of the variables

In [10]:
dataset.to_dict()

{'n_rows': 891,
 'n_columns': 12,
 'provenance': {'created by': {'name': 'MetaSynth',
   'version': '0+untagged.19.ga82cf7e.dirty',
   'privacy': 'metasynth.distribution'},
  'creation time': '2022-07-25T11:46:51.955446'},
 'vars': [{'name': 'PassengerId',
   'type': 'discrete',
   'dtype': 'int64',
   'prop_missing': 0.0,
   'distribution': {'name': 'UniqueKeyDistribution',
    'parameters': {'low': 1, 'consecutive': 1}}},
  {'name': 'Survived',
   'type': 'categorical',
   'dtype': 'category',
   'prop_missing': 0.0,
   'distribution': {'name': 'CatFreqDistribution',
    'parameters': {'categories': array(['0', '1'], dtype='<U1'),
     'counts': array([549, 342])}}},
  {'name': 'Pclass',
   'type': 'categorical',
   'dtype': 'category',
   'prop_missing': 0.0,
   'distribution': {'name': 'CatFreqDistribution',
    'parameters': {'categories': array(['1', '2', '3'], dtype='<U1'),
     'counts': array([216, 184, 491])}}},
  {'name': 'Name',
   'type': 'string',
   'dtype': 'string',
   'prop_missing': 0.0,
   'distribution': {'name': 'RegexDistribution',
    'parameters': {'re_list': [('[AV]', 0.0718294051627385),
      ('.[]{1,12}', 1.0),
      ('[.]', 0.024691358024691357),
      ('[" ers]', 1.0),
      ('.[]{7,68}', 1.0),
      ('[)]', 0.16049382716049382),
      ('[ ]', 0.001122334455667789)]}}},
  {'name': 'Sex',
   'type': 'categorical',
   'dtype': 'category',
   'prop_missing': 0.0,
   'distribution': {'name': 'CatFreqDistribution',
    'parameters': {'categories': array(['female', 'male'], dtype='<U6'),
     'counts': array([314, 577])}}},
  {'name': 'Age',
   'type': 'continuous',
   'dtype': 'float64',
   'prop_missing': 0.19865319865319866,
   'distribution': {'name': 'TruncatedNormalDistribution',
    'parameters': {'lower_bound': 0.41999999,
     'upper_bound': 80.00000001,
     'mu': 28.286441105482094,
     'sigma': 15.964614689648158}}},
  {'name': 'SibSp',
   'type': 'categorical',
   'dtype': 'category',
   'prop_missing': 0.0,
   'distribution': {'name': 'CatFreqDistribution',
    'parameters': {'categories': array(['0', '1', '2', '3', '4', '5', '8'], dtype='<U1'),
     'counts': array([608, 209,  28,  16,  18,   5,   7])}}},
  {'name': 'Parch',
   'type': 'categorical',
   'dtype': 'category',
   'prop_missing': 0.0,
   'distribution': {'name': 'CatFreqDistribution',
    'parameters': {'categories': array(['0', '1', '2', '3', '4', '5', '6'], dtype='<U1'),
     'counts': array([678, 118,  80,   5,   4,   5,   1])}}},
  {'name': 'Ticket',
   'type': 'string',
   'dtype': 'string',
   'prop_missing': 0.0,
   'distribution': {'name': 'RegexDistribution',
    'parameters': {'re_list': [('[SC]', 0.06509539842873176),
      ('.[]{1,3}', 0.10998877665544332),
      ('[N]', 0.03928170594837262),
      ('[/]', 0.10998877665544332),
      ('[A-Z]{1,5}', 0.23007856341189675),
      ('[. ]', 0.06509539842873176),
      ('[A25QOC4EB]', 0.08641975308641975),
      ('[.a]', 0.122334455667789),
      ('[r]', 0.004489337822671156),
      ('[C]', 0.01122334455667789),
      ('[a-zA-Z]{1,3}', 0.019079685746352413),
      ('[.542]', 0.04152637485970819),
      ('[ ]', 0.2536475869809203),
      ('\\d{1,7}', 0.9955106621773289)]}}},
  {'name': 'Fare',
   'type': 'continuous',
   'dtype': 'float64',
   'prop_missing': 0.0,
   'distribution': {'name': 'TruncatedNormalDistribution',
    'parameters': {'lower_bound': -1e-08,
     'upper_bound': 512.32920001,
     'mu': -4110.076371666858,
     'sigma': 368.72515376625773}}},
  {'name': 'Cabin',
   'type': 'string',
   'dtype': 'string',
   'prop_missing': 0.7710437710437711,
   'distribution': {'name': 'RegexDistribution',
    'parameters': {'re_list': [('[BCFD]', 0.11764705882352941),
      ('\\d{2,2}', 0.09803921568627451),
      ('[C ]', 0.36764705882352944),
      ('[C]', 0.0392156862745098),
      ('[B]', 0.00980392156862745),
      ('\\d{2,2}', 0.00980392156862745),
      ('[ ]', 0.00980392156862745),
      ('[B]', 0.23039215686274508),
      ('.[]{1,6}', 1.0)]}}},
  {'name': 'Embarked',
   'type': 'categorical',
   'dtype': 'category',
   'prop_missing': 0.002244668911335578,
   'distribution': {'name': 'CatFreqDistribution',
    'parameters': {'categories': array(['C', 'Q', 'S'], dtype='<U1'),
     'counts': array([168,  77, 644])}}}]}